<!-- partial form for trainings --> 

<table id="update">
  <tr>
   <thead><th><%= f.label(:course) %></th></thead>
   <td ><%= f.text_field(:course) %></td>
 </tr>


 <tr>
   <th><%= f.label(:Type) %></th>
          <td><%= f.select(:Type,options_for_select([['Foundation','Foundation'], ['Mandatory','Mandatory'],[' Softskils','Softskils'],['Functional','Functional'],['Technical','Technical']],:Type))  %>
      </td>
 </tr>


 <tr>
   <th><%= f.label(:batchno) %></th>
          
   <td><%= f.text_field(:batchno) %></td>
    </td>
</tr>




<tr>
 <th><%= f.label(:trainerId) %></th>
        <%trainerlist%>
 <td>*lists only those who have an account</td>
   </td>
</tr>






<tr>
 <th><%= f.label(:venue) %></th>
     
 <td><%= f.text_field(:venue) %></td>
   </td>
</tr>



<tr>
 <th><%= f.label(:from) %></th>
        
 <td><%= f.date_field(:from) %></td>
   </td>
</tr>


<tr>
 <th><%= f.label(:to) %></th>
       <td><%= f.date_field(:to) %></td>

   </td>
</tr>
<tr>
  <td colspan="2" align="center">
   <%= submit_tag("update training ",:class=>'btn') %>

    </td>

</tr>


   	</table>


