<!-- takes the particular id and delets it -->

<div align="center">
 <h2>Remove training</h2>

 <%= form_for(:training, :url => training_path,:method=>:delete) do |f| %>

   <p>Are you sure you want to permanently delete <%= @training.course %> training ?</p>
   <h1 class="fa fa-question-circle fa-4x"> </h1>
   

   <div>
     <%= button_tag("Remove training ",:class=>'hvr-shutter-in-vertical') %>
   </div>

 <% end %>
 <ul class="backlink">
  <li><%=link_to "back to training schedule", trainings_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>