<!-- The Record is edited for particular training id --> 
	<div align="center">
	<h2 >Update Training</h2>
	<%= error_messages_for(@training) %>
	<%= form_for(:training,:url=>training_path(:id=>@training.id),:method=>:patch) do |f| %>
	<%= render(:partial=>"form",:locals=>{:f=>f}) %>
	<% end %>

	<ul class="backlink">
<li><%=link_to "back to training schedule", trainings_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
