<div align="center">
	<h2>Training Schedule</h2>
	<table>	
		<thead>
			<tr>
				<%if current_user_role=="Admin" || current_user_role=="Trainer"%>
					<th></th><!--the flash icon for new and updated records(only for admin and trainer) -->
				<%end%>
		    <th>Course</th>
				<th>Type</th>
				<th>Batch ID</th>                                       
				<th>Trainer ID</th>
				<th>Trainer</th>
				<th>Trainees</th>
				<th>Venue</th>
				<th>Status</th>
				<th>From</th>
				<th>To</th>
				<th>Actions</th>
			</tr>
		</thead>

		<!-- admin as user -->
	<%if User.find(current_user.id).role=="Admin"%>
		<% @trainings.each do |training| %>
		
			<tr>
			<%if training.created_at.to_date==Time.now.to_date%>
					<td><%= image_tag("new.gif", :alt => "new") %></td>
					<%elsif training.updated_at.to_date==Time.now.to_date%>
					<td><%= image_tag("updated.GIF", :alt => "updated") %></td>
					<%else%>
					<td></td>
					<%end%>
				<td><%= training.course %></td>
				<td><%= training.Type %></td>
				<% if !training.batchno || training.batchno==""%>
				<td>N/A</td>
				<%else%>
				<td><%= training.batchno %></td>
				<%end%>
				<td><%= training.trainer_id%></td>
				<td><%= training.trainer_name%></td>
        <td><%= TraineeEnrollment.where(:training_id=>training.id).count%></td>
				<td><%= training.venue %></td>
		        <td><%=training.status%></td>
				<td><%= training.from.strftime("%d-%b-%Y") %></td>
				<td><%= training.to.strftime("%d-%b-%Y") %></td>
		 		<td class="actions">
		 		<ul>
					<li><%= link_to("", edit_training_path(:id=>training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ") %> </li>
					<li><%= link_to("",delete_training_path(training.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %> </li> 
					<li><%= link_to("",reports_path(training_id:training.id),:title=>"Reports",:class=>"fa fa-folder-open fa-2x") %></li> 
					<li><%= link_to("",tnrenrolls_path(training_id:training.id),:title=>"Trainees",:class=>"fa fa-user fa-2x")%></li>
				</ul>
			</td>
   		</tr>
		<%end%>
	<%end%>
	
	</table>
	<%= will_paginate @trainings %>




