
<!-- it includes the javascript of trainings -->
<%= javascript_include_tag("trainings")%>
<div class="row">
  <div class="medium-2 large-3 columns"></div>
  <div class="medium-8 large-6 columns">
  <%= error_messages_for(@training) %> 
    <!-- redirects to training action -->
    <fieldset class="fieldset">
    <legend>Create Training</legend>
    <%= form_for(:training,:url=>{:action=>'create'},html: {'data-abide': true, 'novalidate': true}) do |f| %>
    <div data-abide-error class="alert callout" style="display: none;">
      <p><i class="fi-alert"></i> There are some errors in your form.</p>
    </div>
    <table class="hover unstriped stack">
	    <tr>
		    <th><%= f.label(:course) %></th>
        <td>
          <%= f.text_field(:course,required: true) %>
          <span class="form-error">course name is required</span>
        </td>
		  </tr>
      <tr>
        <th><%= f.label(:Type) %></th>
        <td><%= f.select :Type,options_for_select(Training.types) %>
      </tr>
      <tr>
        <th><%= f.label(:batchno) %></th>       
        <td>
          <%= f.number_field(:batchno,required:true) %>
          <span class="form-error">Batch.no is required</span>
        </td>
      </tr>       
      <tr>
        <th>Trainer</th>
          <%trainerlist%>
        <td>*lists only those who have an account</td>
      </tr>
      <tr>
        <th><%= f.label(:venue) %></th>
        <td><%= f.text_field(:venue) %></td>
      </tr>
      <tr>
        <th><%= f.label(:status) %></th>      
        <td><%=f.select :status ,options_for_select([["Created"]])%></td>
      </tr>
      <tr>
        <th><%= f.label(:from) %></th>         
        <td><%= f.date_field(:from,:value=>Time.now.strftime("%Y-%m-%d")) %></td>
      </tr>
      <tr>
        <th><%= f.label(:to) %></th>
        <td><%= f.date_field(:to,:value=>Time.now.strftime("%Y-%m-%d")) %></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><%= submit_tag("create training",:class=>"btn") %></td>
      </tr>
  </table>
  <% end %>
  </fieldset>
  <%=link_to "back to training schedule", trainings_path,:class=>"hvr-icon-back"%>
  </div>
  <div class="medium-2 large-3 columns"></div>
  </div>
