 
<div align="center">
	<h2>Delete Evaluation</h2>
	<%= form_for(:evaluation,:url=>evaluation_path(:training_id=>@training.id),:method=>:DELETE) do |f| %>
	<p >Are you sure you want to delete evaluation report of <%= @evaluation.trainee_name %></p>
	<h1 class="fa fa-question-circle fa-4x"> </h1>
	
	
	<div>
		<%= button_tag(" Delete Evaluation",:class=>"hvr-shutter-in-vertical") %>
	</div>
	 <ul class='backlink'>
<li><%=link_to "Back to Evaluation Reports",evaluations_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>
	<% end %>



