
<div align="center">
<%= error_messages_for(@evaluation) %>
	          <h2>Update Evaluation</h2>


<%= form_for(:evaluation,:url=>evaluation_path(:training_id=>@training.id),:method=>:patch) do |f| %>
<table id="update">

<tr>
<th>Tests </th>
<td><%= f.text_field(:tests) %></td>
</tr>

<tr>
<th>Date_taken</th>
<td><%= f.text_field(:date_taken) %></td>
</tr>

<tr>
<th>Marks_scored</th>
<td><%= f.text_field(:marks_scored) %></td>
</tr>

<tr>
<th>Max_marks</th>
<td><%= f.text_field(:max_marks) %></td>
</tr>



<tr><td colspan="2" align="center"><%= submit_tag("Update Assignment",:class=>"btn") %></td></tr>
<% end %>

</table>
<ul class='backlink'>
<li><%=link_to "Back to Evaluation Reports", evaluations_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>

