  <table id="table" align="right">
        <tr class="header">
            <th>Employee Name</th>
            <th>Tests</th>
            <th>Date taken</th>
           
            <th>Marks_scored</th>
             <th>Max_marks</th>
            <th>Perentage</th>
    


        </tr>
        <tr align="center">

   
       <%  @excelexport.each do |evaluation| %>
         <%if @training.id == evaluation.training_id%>
           <td><%= evaluation.employee_name %></td>
           <td><%= evaluation.tests %></td>
            <td><%= evaluation.date_taken %></td>
            <td><%= evaluation.marks_scored %></td>
            <td><%= evaluation.max_marks %></td>
     
            <td><%= ((evaluation.marks_scored/evaluation.max_marks)*100).round(2) %>%</td>

       
         </tr>
        <% end %>
        <% end %>
    </table>