<!-- New report is added to database -->

<div align="center">

    <h2>Evaluation Report</h2>


<ul class='Exel'>
<li>Download:<%= link_to "Export to spreadsheet",evaluations_path(format: "xls",:training_id=>@training.id) %></li><br><br>
</ul>
   <!-- <%=link_to("Add new Evaluation",new_evaluation_path(:training_id=>@training.id)) %>--> 
    <%= form_tag evaluations_path,:method=>:get do%>
    <p> <%=hidden_field_tag :training_id,params[:training_id]%>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
        </p>
    <%end%>





    <table id="table" >


        <tr class="header">
            <th>Employee Name</th>
            <th>Tests</th>
            <th>Date taken</th>
           
            <th>Marks scored</th>
             <th>Max marks</th>
            <th>Percentage</th>
            <th>Actions</th>


        </tr>
        <tr>
<!-- The loop displays each column value from database -->

       <% @evaluations.each do |evaluation| %>   
        <%if @training.id == evaluation.training_id%>
           <td><%= evaluation.trainee_name.capitalize%></td>
           <td><%= evaluation.tests %></td>
            <td><%= evaluation.date_taken.strftime("%d-%b-%Y") %></td>
            <td><%= evaluation.marks_scored %></td>
            <td><%= evaluation.max_marks %></td>
     
            <td><%= ((evaluation.marks_scored/evaluation.max_marks)*100).round(2) %>%</td>

         <td class="actions">
                
                <%= link_to("",edit_evaluation_path(:id=>evaluation.id,:training_id=>@training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_evaluation_path(:id=>evaluation.id,:training_id=>@training.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>
            </td>
         </tr>
        <% end %>
        <% end %>
        <!-- this is used to paginate -->

          <%= will_paginate  @evaluations%>  
    </table>
 
   <!-- trainer can only add a new evaluation report --> 
    <%if User.find(current_user.id).type=="Trainer"%>
<ul><li><%=link_to("Add Entry",new_evaluation_path(:training_id=>@training.id),:class=>"hvr-icon-float-away")%></li></ul>

<%end%>

    <ul class='backlink'>
<li><%=link_to "Back to Reports", reports_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>





 


