

<div align="center">
	<%= error_messages_for(@evaluation) %>
	<h2>Create Evaluation</h2>
<%= form_for(:evaluation,:url=>evaluations_path(:training_id=>@training.id),:method=>:post) do |f| %>
<table id="update">

	<tr>
<th>Training ID: </th>
<!-- training ID is getting passed from index page of trainings and its a read only value -->
<td><%= f.text_field(:training_id,:readonly=>true,:value=>@training.id) %></td>
</tr>
	<tr>
<th>Employee name: </th>
<td><%= f.select(:trainee_name,options_for_select( @traineelist.all.map {|t| [Employee.find(t.employee_id).name] } )) %></td>
</tr>

<tr>
<th>Test For: </th>
<td><%= f.text_field(:tests) %></td>
</tr>

<tr>
<th>Date taken</th>
<td><%= f.date_field(:date_taken,:value=>Time.now.strftime("%Y-%m-%d")) %>[MM-DD-YYYY]</td>
</tr>

<tr>
<th>Marks scored</th>
<td><%= f.text_field(:marks_scored) %></td>
</tr>

<tr>
<th>Total marks</th>
<td><%= f.text_field(:max_marks) %></td>
</tr>



<tr><td colspan="2" align="center"><%= submit_tag("Create Evaluation",:class=>"btn") %></td></tr>
</table>
<% end %>
<ul class='backlink'>
<li><%=link_to "Back to Evaluation Reports", evaluations_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>
