
<div align="center">
 <h2>Remove training</h2>

 <%= form_for(:scorecard, :url => scorecard_path,:method=>:delete) do |f| %>

   <p>Are you sure you want to permanently delete <%= @scorecard.technology %> scorecard ?</p>

   

   <div class="form-buttons">
     <%= button_tag("Remove scorecard ",:class=>'hvr-shutter-in-vertical') %>
   </div>

 <% end %>
 <ul class="backlink">
  <li><%=link_to "back to scorecard", scorecards_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>