<%= stylesheet_link_tag('score') %>
<%= javascript_include_tag('score') %>


<div class="wrapper" align="center">
<h2> Per Quater Analysis (Score-Card)</h2>



<%= form_tag scorecards_path,:method=>:get do%>

    <p> 
        Year: <%=text_field_tag :year,params[:year] || @year%>
        Quater: <%= select_tag(:quater,options_for_select([['select quater',0],['1st',1], ['2nd',2],['3rd',3],['4th',4]],params[:quater]||@quater))%> 
        <%=submit_tag "Search", :name=>nil%>
    <%end%>
          <ul class='Exel'>
    <li>Download:<%= link_to "Export to spreadsheet", scorecards_path(format: "xls") %></li>

</ul>
 </p>

	<table id="scorecard" >
	

			
    <tr><span class="thead"><th><b>Per Quarter Analysis For</b></th></span></td></tr>
    <tr><td>Initial training needs</td></tr>
    <tr><td>Number of employees Attended Vs planned - training</td></tr>
    <tr><td>Total Trainings Conducted</td></tr>
    <tr><td>Avg number of hours of technical training</td></tr>
    <tr><td>Avg number of hours of Softskill Training attended per employee</td></tr>
	<tr><td>Number of employees yet to attend Mandatory and Policy related training</td></tr>
	<tr><td>Number of knowledge sharing sessions conducted</td></tr>
	<tr><td>Number of employees Attended Vs planned - KSS</td></tr>
	<tr><td>Number of certifiactions completed</td></tr>
	<%if User.find(current_user.id).role=="Admin"%>
	<tr><td>Actions</td></tr>
	<%end%>
	</table>
<div id="horiz_container_outer">

<div id="horiz_container">

<% @scorecards.each do |scorecard| %>
	<table id="scorecard" align="center">
    	
 <tr><th><b><%= scorecard.technology %></b></th></tr>
   	<tr><td><%= scorecard.training_needs %></td></tr>
		<tr><td><%= scorecard.employees_present_tnr %></td></tr>
		<tr><td><%= scorecard.employees_total %></td></tr>
		<tr><td><%= scorecard.tech_tnr_hrs%></td></tr>
		<tr><td><%= scorecard.soft_tnr_hrs%></td></tr>
		<tr><td><%= scorecard.emp_yet_to_attend%></td>		</tr>
		<tr><td><%= scorecard.Knowledge_sessions_conducted%></td></tr>
		<tr><td><%= scorecard.employees_present_kss %></td></tr>
		<tr><td><%= scorecard.certifications_done %></td></tr>
	<tr>
    	<%if User.find(current_user.id).role=="Admin"%>
			<td class="actions">
		 		<ul>
					<li><%= link_to("", edit_scorecard_path(:id=>scorecard.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ") %> </li>
					<li><%= link_to("",delete_scorecard_path(scorecard.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %> </li> 
				</ul>
			</td>
			<%end%>
	</tr>
	</table>
<% end %>
		</div>
</div>

       




</div>


