<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
 <Styles>
    <Style ss:ID="s29">
   <Font ss:Size="12" ss:Bold="1" />
   <Alignment  ss:Vertical="Center" />
  </Style>
  <Style ss:ID="s30">
   <Alignment  ss:Horizontal="Center" ss:Vertical="Center" />
  </Style>
   <Style ss:ID="s31">
   <Alignment  ss:Horizontal="Center" ss:Vertical="Center" />
   <Font  ss:Size="12" ss:Bold="1" />
  </Style>
 </Styles>

  <Worksheet ss:Name="Sheet1">
    <Table id="update">
      <Column ss:Width="550"/>  
      
      <Row  ss:Height="30">
       <Cell ss:StyleID="s29"><Data ss:Type="String">Technology</Data></Cell>
       <% @scorecards.each do |scorecard| %> 
       <Cell ss:StyleID="s31" ><Data ss:Type="String"><%= scorecard.technology %></Data></Cell>
       <%end%>
     </Row>
     <Row ss:Height="30">
     		<Cell ss:StyleID="s29" ><Data ss:Type="String">Initial training needs</Data></Cell>
     		<% @scorecards.each do |scorecard| %> 
     		 <Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.training_needs %></Data></Cell>
     		 <%end%>
     		 </Row>
     		 <Row ss:Height="30">
        <Cell ss:StyleID="s29"><Data ss:Type="String">Number of employees Attended Vs planned(training)</Data></Cell>
       <% @scorecards.each do |scorecard| %> 
        <Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.employees_present_tnr %></Data></Cell>
        <%end%>
        </Row>
        <Row ss:Height="30">
        <Cell ss:StyleID="s29" ><Data ss:Type="String">Avg No. of hrs of Technical Training</Data></Cell>
        <% @scorecards.each do |scorecard| %> 
         <Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.tech_tnr_hrs %></Data></Cell>
        <%end%>
        </Row>
        <Row ss:Height="30">
        <Cell ss:StyleID="s29"><Data ss:Type="String">Avg No. of hrs of Softskill Training attended per employee</Data></Cell>
 				<% @scorecards.each do |scorecard| %> 
        <Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.soft_tnr_hrs%></Data></Cell>
        <%end%>
        </Row>
        <Row ss:Height="30">
        <Cell ss:StyleID="s29"><Data ss:Type="String">Number of employees yet to attend Mandatory and Policy related training</Data></Cell>
				<% @scorecards.each do |scorecard| %> 
        <Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.emp_yet_to_attend%></Data></Cell>
        <%end%>
        </Row>
        <Row ss:Height="30">
        <Cell ss:StyleID="s29"><Data ss:Type="String">Number of knowledge sharing sessions conducted</Data></Cell>
        <% @scorecards.each do |scorecard| %> 
      	<Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.Knowledge_sessions_conducted%></Data></Cell>  
        <%end%>
        </Row>
        <Row ss:Height="30">
     		<Cell ss:StyleID="s29"><Data ss:Type="String">Number of employees Attended Vs planned - KSS</Data></Cell>
     		<% @scorecards.each do |scorecard| %> 
      	<Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.employees_present_kss%></Data></Cell>
        <%end%>
     		</Row>
     		<Row ss:Height="30">
     		<Cell ss:StyleID="s29"><Data ss:Type="String">Number of certifiactions completed</Data></Cell>
     		<% @scorecards.each do |scorecard| %> 
     		<Cell ss:StyleID="s30"><Data ss:Type="String"><%= scorecard.certifications_done%></Data></Cell>
     		<%end%>
     </Row>
    </Table>
  </Worksheet>
</Workbook>
















