


<div align="center">
<%= error_messages_for(@scorecard) %>
	<h2>Create Scorecard</h2>
	<%= form_for(:scorecard,:url=>{:action=>'create'}) do |f| %>
    
<table id="scorenew">

    <tr>
       <th><%= f.label("Line of Bussiness / technology") %></th>
      <td><%= f.text_field(:technology) %></td>
    </tr>

       <tr>
       <th><%= f.label("Year") %></th>
      <td><%= f.text_field(:year) %></td>
    </tr>

       <tr>
       <th><%= f.label("Quater") %></th>
      <td><%= f.select(:quater,options_for_select([['1st','1'], ['2nd','2'],['3rd','3'],['4th','4']]))%></td>
    </tr>

    <tr>
	   <th><%= f.label("Initiating training needs") %></th>
	   <td ><%= f.text_field(:training_needs) %></td>
	
	</tr>


    <tr>
       <th><%= f.label("Number of employees attended Vs planned training") %></th>
       <td><%= f.text_field(:employees_present_tnr) %></td>
    
    </tr>
   
    <tr>
       <th><%= f.label("Total trainings conducted") %></th>  
       <td><%= f.text_field(:employees_total) %></td>
    </tr>

    <tr>
       <th><%= f.label("Avg number of Hrs of technical training attended per employee") %></th>
    
    <td><%= f.text_field(:tech_tnr_hrs) %></td>
    </tr>

    <tr>
       <th><%= f.label("Avg number of Hrs of softskills Training attended per employee") %></th>
    
    <td><%= f.text_field(:soft_tnr_hrs) %></td>
    </tr>

    <tr>
       <th><%= f.label("Number of employees yet to attend mandatory and policy related training") %></th>
       
       <td><%= f.text_field(:emp_yet_to_attend) %></td>
    </tr>

    <tr>
       <th><%= f.label("Number of knowledge sharing sessions conducted") %></th>   
      <td><%= f.text_field(:Knowledge_sessions_conducted) %></td>
    </tr>
  
    <tr>
       <th><%= f.label(:"Number of employees attended Vs planned KSS") %></th>
      <td><%= f.text_field(:employees_present_kss) %></td>
    </tr>

    
    <tr>
       <th><%= f.label("Number of certifiactions completed") %></th>
      <td><%= f.text_field(:certifications_done) %></td>
    </tr>

   <tr>
      
 <td colspan="2" align="center"><%= submit_tag("Add scorecard",:class=>"btn") %></td>
    </tr>

   	</table>
  	<% end %>
    <ul class='backlink'>
<li><%=link_to "back to scorecard list", scorecards_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>

