<%=render "devise/shared/messages"%>
<h2>Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>


    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %> 



    <%= f.button "Resend confirmation instructions" ,data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..."},:id=>"login"%></br>
	  
	<%= render "devise/shared/links" %>
<% end %>

