<div align="center">
	<h2>Delete Observation Report</h2>
	<%= form_for(:observation,:url=> observation_path(:id=>@observation.id,:training_id=>@training.id),:method=>'delete') do |f| %>


	

	<p>Are you sure you want to permanently delete this Observation  Report of <%= @observation.trainee_name %>?</p>
	<h1 class="fa fa-question-circle fa-4x"> </h1>
	<div>
		<%= button_tag(" Delete observation report",:class=>"hvr-shutter-in-vertical") %>
	</div>
<ul class='backlink'>
<li><%=link_to "Back to observation Reports", reports_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>
	<% end %>

