
<%= error_messages_for(@observation) %>

<div align="center">
	<h2>Update Observation</h2>

<%= form_for(:observation,:url=>observation_path(:training_id=>@training.id),:method=>:patch) do |f| %>
	

<table id="update">

<tr>
<th>empname </th>
<td><%= f.text_field(:trainee_name) %></td>
</tr>

<tr>
<th>technical_knowledge</th>
<td><%= f.text_field(:technical_knowledge) %></td>
</tr>

<tr>
<th>coding_skills</th>
<td><%= f.text_field(:coding_skills) %></td>
</tr>

<tr>
<th>logical_thinking_skills</th>
<td><%= f.text_field(:logical_thinking_skills) %></td>
</tr>

<tr>
<th>time_management</th>
<td><%= f.text_field(:time_management) %></td>
</tr>

<tr>
<th>attendance</th>
<td><%= f.text_field(:attendance) %></td>
</tr>

<tr>
<th>approach_towards_learning</th>
<td><%= f.text_field(:approach_towards_learning) %></td>
</tr>

<tr>
<th>attitude_and_body_language</th>
<td><%= f.text_field(:attitude_and_body_language) %></td>
</tr>

<tr>
<th>written_communication</th>
<td><%= f.text_field(:written_communication) %></td>
</tr>

<tr>
<th>spoken_communication</th>
<td><%= f.text_field(:spoken_communication) %></td>
</tr>

<tr>
<th>participation</th>
<td><%= f.text_field(:participation) %></td>
</tr>

<tr>
<th>Remarks</th>
<td><%= f.text_field(:Remarks) %></td>
</tr>

<tr>

<td colspan="2" align="center"><%= button_tag("Update Obervation Report",:class=>"btn") %></td></tr>
<% end %>

</table>
<ul class='backlink'>
<li><%=link_to "Back to observation Reports", observations_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>



