 <table id="update" >
     <tr> <th>Employee Name</th>
          <th>Technical knowledge</th>
          <th>Coding skills</th>
          <th>Logical thinking skills</th>
          <th>Time management</th>
          <th>Attendance</th>
          <th>Approach towards learning</th>
          <th>Atitude and body language</th>
          <th>Written communication</th>
          <th>Spoken communication</th>
          <th>Participation</th>
          <th>Remarks</th>
      </tr>
    
    <% @excelexport.each do |observation| %>  
    <% if @training.id==observation.training_id %>
      <tr align="center">
    <td><%= observation.trainee_name %></td>
    <td><%= observation.technical_knowledge %></td>
    <td><%= observation.coding_skills %></td>
    <td><%= observation.logical_thinking_skills %></td>
    <td><%= observation.time_management %></td>
    <td><%= observation.attendance %></td>
    <td><%= observation.approach_towards_learning %></td>
    <td><%= observation.attitude_and_body_language %></td>
    <td><%= observation.written_communication %></td>
    <td><%= observation.spoken_communication %></td>
    <td><%= observation.participation %></td>
    <td><%= observation.Remarks %></td>
  </tr>
  <%end%>
  <%end%>
</table>