<div align="center">
    <h2>Observations Reports</h2>
  <ul class='Exel'>
<li>Download:<%= link_to "Export to spreadsheet", observations_path(format: "xls",:training_id=>@training.id) %></li>
</ul>
<%= form_tag observations_path,:method=>:get do%>

        <p>
          <%=hidden_field_tag :training_id,params[:training_id]%>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
        </p>
        <% end %>

<br>
<br>
        <table id="table">
     <tr> <th>Employee Name</th>
          <th>Technical knowledge</th>
          <th>Coding skills</th>
          <th>Logical thinking skills</th>
          <th>Time management</th>
          <th>Attendance</th>
          <th>Approach towards learning</th>
          <th>Atitude and body language</th>
          <th>Written communication</th>
          <th>Spoken communication</th>
          <th>Participation</th>
          <th>Remarks</th>
          <%if User.find(current_user.id).type=="Trainer"%>
          <th colspan="2">Actions</th>
          <% end %>
      </tr>
    
    <% @observations.each do |observation| %>  
    <% if @training.id==observation.training_id %>
      <tr>
    <td><%= observation.trainee_name %></td>
    <td><%= observation.technical_knowledge %></td>
    <td><%= observation.coding_skills %></td>
    <td><%= observation.logical_thinking_skills %></td>
    <td><%= observation.time_management %></td>
    <td><%= observation.attendance %></td>
    <td><%= observation.approach_towards_learning %></td>
    <td><%= observation.attitude_and_body_language %></td>
    <td><%= observation.written_communication %></td>
    <td><%= observation.spoken_communication %></td>
    <td><%= observation.participation %></td>
    <td><%= observation.Remarks %></td>
    <%if User.find(current_user.id).type=="Trainer"%>
             <td class="actions">
                <%= link_to("",edit_observation_path(:id=>observation.id,:training_id=>@training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_observation_path(:id=>observation.id,:training_id=>@training.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %>
            </td>
            <%end%>
    </tr>
            
 
        <% end %>
        <% end %>

    </table>
    <%= will_paginate @observations %>
    <%if User.find(current_user.id).type=="Trainer"%>
<ul><li><%=link_to("Add new Entry",new_observation_path(:training_id=>@training.id),:class=>"hvr-icon-float-away")%></li>
</ul>
<%end%>
    <ul class='backlink'>
<li><%=link_to "Back to Reports", reports_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>













