

<div align="center">
	<%= error_messages_for(@observation) %>
	<h2>Create Observation Report</h2>
<%= form_for(:observation,:url=>observations_path(:training_id=>@training.id),:method=>:post) do |f| %>

<table id="update">
<tr>
<% trainee_list(@training)%>
<th>Employee Name </th>
<td><%= f.select(:trainee_name,options_for_select( @traineelist.map {|t| [Employee.find(t.employee_id).name] } )) %></td>
</tr>

<tr>
	<th>Training ID</th>
	<td><%= f.text_field(:training_id,:readonly => true,:value=>@training.id)%></td>
</tr>

<tr>
<th>Technical knowledge</th>
<td><%= f.text_field(:technical_knowledge) %></td>
</tr>

<tr>
<th>Coding skills</th>
<td><%= f.text_field(:coding_skills) %></td>
</tr>

<tr>
<th>Logical thinking skills</th>
<td><%= f.text_field(:logical_thinking_skills) %></td>
</tr>

<tr>
<th>Time management</th>
<td><%= f.text_field(:time_management) %></td>
</tr>

<tr>
<th>Attentiveness</th>
<td><%= f.text_field(:attendance) %></td>
</tr>

<tr>
<th>Approach towards learning</th>
<td><%= f.text_field(:approach_towards_learning) %></td>
</tr>

<tr>
<th>Attitude and body language</th>
<td><%= f.text_field(:attitude_and_body_language) %></td>
</tr>

<tr>
<th>Written communication</th>
<td><%= f.text_field(:written_communication) %></td>
</tr>

<tr>
<th>Spoken communication</th>
<td><%= f.text_field(:spoken_communication) %></td>
</tr>

<tr>
<th>Participation</th>
<td><%= f.text_field(:participation) %></td>
</tr>

<tr>
<th>Remarks</th>
<td><%= f.text_field(:Remarks) %></td>
</tr>

<tr>

<td colspan="2" align="center"><%= submit_tag("Create observation report",:class=>"btn") %></td>
</tr>
</table>
<% end %>
<ul class='backlink'>
<li><%=link_to "Back to observation Reports", observations_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>






