


<div align="center">
  <h2>Remove Employee</h2>

  <%= form_for(:employee, :url => employee_path(:id=>@employee.employee_id),:method=>:delete) do |f| %>

    <p>Are you sure you want to permanently remove <%= @employee.name %> from employee database?</p>
    <h1 class="fa fa-question-circle fa-4x"> </h1>
   	<div>
      <%= button_tag("Remove employee",:class=>"hvr-shutter-in-vertical") %>
      </div>
    
  <% end %>
	<ul class="backlink">
<li><%=link_to "Back to employee list",employees_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>