
<div align="center">
<h2> Edit Employee </h2>
<%=form_for(:employee,:url=>employee_path(:id=>@employee.id),:method=>:patch) do |f| %>
<%= render(:partial=>'form',:locals=>{:f=>f})%>
	<% end %>

  <ul class='backlink'>
<li><%=link_to "back to Employee list", employees_path,:class=>"hvr-icon-back"%></li>
</ul>

	</div>



