<div align="center">


    <h2>Employee List</h2>
    <%= form_tag employees_path,:method=>:get do%>
    <p> 
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
    </p>
    <%end%>
    <table id="table">
 
    
        <tr class="header">
           <!-- <th>&nbsp;</th>-->
            <th>Emp ID</th>
            <th>Name</th>
            
            <th align="center">Actions</th>
        </tr>
        <% @employees.each do |employee| %>
        <tr>
            <td><%= employee.employee_id %></td>
            <td><%= employee.name.capitalize %></td>

            <td class="actions" align="center">
            <%= link_to("",employee_path(:id=>employee.employee_id,:page=>params[:page]),:title=>"Details",:class=>"fa fa-file-text fa-2x")%>
            <%if User.find(current_user.id).role=="Admin"%>
            <!-- admin can only edit and delete employees -->
              <%= link_to("",edit_employee_path(:id=>employee.employee_id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
              <%= link_to("",delete_employee_path(:id=>employee.employee_id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>
             <%end%>
               
                

            </td>
        </tr>
        <% end %>

    </table>
     <div class="digg_pagination">
     <%= will_paginate @employees%>
     </div>
</div>






