<div align="center">
<h2>New Employee</h2>
<%= error_messages_for(@employee) %> 
<%=form_for(:employee,:url=>employees_path) do |f| %>
<table id="update">
	<tr>
		<th>ID</th>
		<td><%=f.text_field(:employee_id)%></td>
	</tr>
	<tr>
		<th>Department</th>
		<td><%= f.select(:department_id, options_for_select([['Not assigned','']]+Department.all.map {|t| [t.name,t.id]}))%></td>
	</tr>
	<tr>
		<th>Name</th>
		<td><%= f.text_field(:name)%></td>
	</tr>
	<tr>
		<th>Status</th>
		<td><%= f.select(:status, options_for_select([['Permanent','Permanent'],['Contractual','Contractual'],['Probation','Probation'],['Relieved','Relieved'],['Resigned','Resigned'] ]))%></td>
	</tr>
	
	<tr>
		<th>Date of joining</th>
		<td><%=f.date_field (:date_of_joining)%></td>

	</tr>
	
	<tr>
		<th>Location</th>
		<td><%=f.text_field (:location)%></td>

	</tr>

	<tr>
		<th>Email</th>
		<td><%=f.email_field(:email_id)%></td>
	</tr>
	
		<tr>
			
			<td colspan="2" align="center"><%=submit_tag("Create Employee",:class=>"btn")%></td>
			
		</tr>
		</table>
	<% end %>



