


	<div align="center">
	<h2>Employee Details</h2>
	<table id="update">
		<tr>
			<th>Employee ID</th>
			<td><%=@employee.employee_id %></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%=@employee.name %></td>
		</tr>
		<tr>
			<th>Department</th>
			<td><%=@department%></td>
		
		</tr>

			
			<tr>
				<th>Status</th>
				<td><%=@employee.status%></td>
			</tr>
			<tr>
				<th>Location</th>
				<td><%=@employee.location%></td>
			</tr>
			<tr>
				<th>Date of joining </th>
				<td><%=@employee.date_of_joining %></td>
			</tr>
				<tr>
			<th>Manager</th>
			<%if @manager%>
			<td><%=@manager.name%></td>
			<%else%>
			<td><%="--"%></td>
			<%end%>
			</tr>
		
			<tr>
 				<th>Email</th>
				<td><%=@employee.email_id %></td>
			</tr>
            

		</table>
			<ul class="backlink">
<li><%=link_to "Back to employee list",employees_path(:page=>params[:page]),:class=>"hvr-icon-back"%></li>
</ul>
</div>
      
