<!-- this is a partial form that is assigning values for weightage -->                       <% if @value==1 %>
                       <td><%= @weight="25%" %></td>
                         <% elsif @value==2 %>
                       <td><%= @weight="50%" %></td>
                         <% elsif @value==3 %>
                       <td><%= @weight="75%" %></td>
                         <% else %>
                       <td><%= @weight="100%" %></td>
                         <%end%>