<!-- delete for asssignment reports -->
<div align="center">
	<h2>Delete Assignment</h2>
	<%= form_for(:assignment,:url=>assignment_path(:id=>@assignment.id,:training_id=>@training.id),
	:method=>:delete) do |f| %>
	<p>Are you sure you want to permanently delete assignment report of <%= @assignment.trainee_name %> ?</p>
  <h1 class="fa fa-question-circle fa-4x"> </h1>
  <div>
		<%= button_tag("delete assignment",:class=>"hvr-shutter-in-vertical") %>
		</div>
	<ul class='backlink'>
<li><%=link_to "Back to Assignments Report",assignments_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>
	<% end %>



