
<div align="center">
	<%= error_messages_for(@assignment) %>
	<h2>Update assignment</h2>


<%= form_for(:assignment,:url=>assignment_path(:training_id=>@training.id),:method=>:patch) do |f| %>
<table id="update">
	<tr>
<th>Trainee Name</th>
<td><%= f.text_field(:trainee_name,:autofocus=>true) %></td>
</tr>
<tr>
<th>Code convention</th>
<td><%= f.text_field(:code_convention) %></td>
</tr>

<tr>
<th>Code optimization</th>
<td><%= f.text_field(:code_optimization) %></td>
</tr>
<tr>
	<th>Time and Space effeciency</th>
		<td><%= f.text_field(:Time_space_effeciency)%>
</tr>

<tr>
<th>Logic</th>
<td><%= f.text_field(:logic) %></td>
</tr>

<tr>
<th>Meeting timeline</th>
<td><%= f.text_field(:meeting_timelines) %></td>
</tr>

<tr>
<th>Code integrity</th>
<td><%= f.text_field(:code_integrity) %></td>
</tr>


<tr>
<th>Technology knowledge</th>
<td><%= f.text_field(:knowledge) %></td>
</tr>

<tr>
<th>Submission format</th>
<td><%= f.text_field(:format_submission) %></td>
</tr>

<tr><td colspan="2" align="center"><%= submit_tag("Update project",:class=>"btn") %></td></tr>
<% end %>

</table>

<ul class='backlink'>
<li><%=link_to "Back to Assignments Report",assignments_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>

</div>