<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
       <% @excelexport.each do |p| %>  
      
      <Row>
       <Cell><Data ss:Type="String">Employee name</Data></Cell>
       <Cell><Data ss:Type="String"><%= p.trainee_name %></Data></Cell>
     </Row>
     <Row>
        <Cell><Data ss:Type="String">Parameters</Data></Cell>
        <Cell><Data ss:Type="String">Total Marks</Data></Cell>
        <Cell><Data ss:Type="String">Rating</Data></Cell>
        <Cell><Data ss:Type="String">Weightage</Data></Cell>
        <Cell><Data ss:Type="String">Marks Scored</Data></Cell>
     </Row>

     <Row>
      <Cell><Data ss:Type="String">Code convention</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @code_convention %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= p.code_convention %></Data></Cell>
      <% @value=p.code_convention%>
      <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= (p.code_convention*@code_convention.to_f)/4 %></Data></Cell>
      </Row>

     <Row>
      <Cell><Data ss:Type="String">Code optimization</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @code_optimization %></Data></Cell>
      <Cell><Data ss:Type="Number"><%=  p.code_optimization %></Data></Cell>
      <% @value=p.code_optimization %>
      <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= (p.code_optimization*@code_optimization.to_f)/4 %></Data></Cell>
     </Row>

    
     <Row>
       <Cell><Data ss:Type="String">Time and space efficiency</Data></Cell>
       <Cell><Data ss:Type="Number"><%= @Time_space_effeciency %></Data></Cell>
       <Cell><Data ss:Type="Number"><%=  p.Time_space_effeciency %></Data></Cell>
       <% @value=p.Time_space_effeciency %>
     <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
       <Cell><Data ss:Type="Number"><%= (p.Time_space_effeciency*@Time_space_effeciency.to_f)/4 %></Data></Cell>
     </Row>
 

      <Row>
        <Cell><Data ss:Type="String">Logic</Data></Cell>
        <Cell><Data ss:Type="Number"><%= @logic %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.logic %></Data></Cell>
        <% @value=p.logic %>
       <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
         <Cell><Data ss:Type="Number"><%= (p.logic*@logic.to_f)/4 %></Data></Cell>
     </Row>


       <Row>
        <Cell><Data ss:Type="String">Meeting Timelines</Data></Cell>
        <Cell><Data ss:Type="Number"><%= @meeting_timelines %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.meeting_timelines %></Data></Cell>
        <% @value= p.meeting_timelines %>
       <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
         <Cell><Data ss:Type="Number"><%= (p.meeting_timelines*@meeting_timelines.to_f )/4 %></Data></Cell>
     </Row>



     <Row>
      <Cell><Data ss:Type="String">Code Integrity</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @code_integrity %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= p.code_integrity %></Data></Cell>
      <% @value= p.code_integrity %>
    <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= (p.code_integrity*@code_integrity.to_f)/4 %></Data></Cell>
     </Row>

     <Row>
      <Cell><Data ss:Type="String">Knowledge</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @knowledge %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= p.knowledge %></Data></Cell>
      <% @value= p.knowledge %>
    <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= (p.knowledge*@knowledge.to_f)/4 %></Data></Cell>
     </Row>



     <Row>
      <Cell><Data ss:Type="String">Submission format</Data></Cell>
      <Cell><Data ss:Type="Number"><%=  @format_submission %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= p.format_submission %></Data></Cell>
      <% @value=p.format_submission %>
     <Cell><Data ss:Type="String"><%= weigh=weightage(@value) %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= (p.format_submission*@format_submission.to_f)/4 %></Data></Cell>
     </Row>
     

<Row>
</Row>
       

    <% end %>
    </Table>
  </Worksheet>
</Workbook>
















