<div align="center">
    <h2>Assignments Report</h2>

    <!-- a link for download -->
    <ul class='Exel'>
<li>Download:<%= link_to "Export to spreadsheet",assignments_path(format: "xls",:training_id=>@training.id) %></li>
</ul>

<!-- a text box with a search button -->
   <%= form_tag assignments_path,:method=>:get do%>
    <p> <%=hidden_field_tag :training_id,params[:training_id],placeholder:@training.id%>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
        </p>
    <%end%>     
</div>
    
        <% @assignments.each do |p| %>  
        
        <!-- a condition to have assignment reports of a particular training -->
         <%if @training.id == p.training_id%>
          <table id="assign">
            <tr>
                <th>name of the participant</th>

                    <td colspan="4"><%= p.trainee_name %></td>
                    </tr>
                    <tr>
                        <th>Parameters</th>
                        <th>Total marks</th>
                        <th>Rating</th>
                        <th>Weightage</th>
                        <th>Marks Scored</th>
                        
                    </tr>
                        <tr>
                        <th>Code convention</th>
                       
                        <td><%= @code_convention %></td>
                        <td><%= p.code_convention %></td>
                       <% @value=p.code_convention %>
                    <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                        <td><%= a= (p.code_convention*@code_convention)/4 %></td>
                       
                    </tr>

            
            <tr>
                <th>Code optimization</th>
                 
                <td><%= @code_optimization %></td>
                 <td><%= p.code_optimization %></td>
                 <% @value=p.code_optimization%>
                  <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                  <td><%= b=(p.code_optimization*@code_optimization)/4 %></td>
            </tr>

            <tr>
                <th>Time and Space Effeciency</th>
               
                <td><%= @Time_space_effeciency %></td>
                <td><%= p.Time_space_effeciency %></td> 
                <% @value=p.Time_space_effeciency %>
                <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                <td><%= c=(p.Time_space_effeciency*@Time_space_effeciency)/4 %></td>

            </tr>
            <tr>
                <th>Logic</th>
                 
                <td><%= @logic %></td>
                <td><%= p.logic %></td>
            <% @value=p.logic %>
                  <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                       <td><%= d= (p.logic*@logic.to_f)/4 %></td>
            </tr>

            <tr>
                <th>Meeting Timelines</th>
               
                <td><%= @meeting_timelines %></td>
                <td><%= p.meeting_timelines %></td>
                  <% @value=p.meeting_timelines %>
                 <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                 <td><%= e=(p.meeting_timelines*@meeting_timelines)/4 %></td>
            </tr>

            <tr>
                <th>Code Integrity</th>
                
                <td><%= @code_integrity %></td>
                <td><%= p.code_integrity %></td>
                 <% @value=p.code_integrity %>
                  <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                  <td><%= f=(p.code_integrity*@code_integrity)/4 %></td>
            </tr>
            <tr>
                <th>Knowledge</th>
       
                    <td><%= @knowledge %></td>
                    <td><%= p.knowledge %></td>
                  <% @value=p.knowledge %>
                      <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                          <td><%= g=(p.knowledge*@knowledge)/4 %></td>
                </tr>
            <tr>
               <th>Submission format</th>
            
               <td><%= @format_submission %></td>
               <td><%= p.format_submission %></td>
               <% @value=p.format_submission %>
               <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                <td><%= h=(p.format_submission*@format_submission)/4 %></td>
           </tr>
           <tr>
            <th>Total marks scored</th>
            <th><%= @code_convention+@code_optimization+@Time_space_effeciency+@logic+@meeting_timelines+@code_integrity+@knowledge+@format_submission %></th>
            <th>&nbsp</th>
            <th>&nbsp</th>
            <th><%= (a+b+c+d+e+f+g+h) %></th>
</tr>

   <!-- trainer is only provided with edit and delete permissions -->
            <%if User.find(current_user.id).type=="Trainer"%>
<tr>
                
           <th  align="center" class="actions">
                 
                 <%= link_to("",edit_assignment_path(:id=>p.id,:training_id=>@training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ") %>  
                <%= link_to("",delete_assignment_path(:id=>p.id,:training_id=>@training.id),:method=>:get,:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %>  
            </th>
            
        </tr>
        <% end %>
        </table>
            <% end %>
             
            <% end %>

      
       <!-- trainer is the only person who can add record -->
       <div align="center" style="clear:both">
        <%if User.find(current_user.id).type=="Trainer"%>
        <ul><li><%=link_to("Add Record",new_assignment_path(:training_id=>@training.id),:class=>"hvr-icon-float-away")%></li></ul>

<%end%>
<div class="digg_pagination">
<%= will_paginate @assignments%>
</div>
<ul class="backlink">
<li><%=link_to "Back to Reports",reports_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li></ul>
</div>









