    
<div align="center">
	<%= error_messages_for(@assignment) %>
	<h2>New Assignment</h2>
<%= form_for(:assignment,:url=>assignments_path(:id=>@assignment.id,:training_id=>@training.id),:method=>:post) do |f| %>

<table id="update">
<tr>
<% trainee_list(@training)%>
	<th>Trainee name</th>
	<td><%= f.select(:trainee_name,options_for_select( @traineelist.all.map {|t| [Employee.find(t.employee_id).name] } ),:autofocus=>true) %></td>
</tr>
<tr>
		<th>Training ID</th>
		<!-- training ID value from the trainings index has been passed -->
		<td><%=f.text_field(:training_id,:readonly => true,:value=>@training.id)%></td>
	</tr>
<tr>
<th>Code convention</th>

<td><%= f.text_field(:code_convention) %></td>
</tr>

<tr>
<th>Code optimization</th>

<td><%= f.text_field(:code_optimization) %></td>
</tr>
<tr>
	<th>Time and Space effeciency</th>

		<td><%= f.text_field(:Time_space_effeciency)%>
</tr>
<tr>
<th>Logic</th>

<td><%= f.text_field(:logic) %></td>
</tr>

<tr>
<th>Meeting timeline</th>

<td><%= f.text_field(:meeting_timelines) %></td>
</tr>

<tr>
<th>Code integrity</th>

<td><%= f.text_field(:code_integrity) %></td>
</tr>

<tr>
<th>Technology knowledge</th>

<td><%= f.text_field(:knowledge) %></td>
</tr>

<tr>
<th>Submission format</th>

<td><%= f.text_field(:format_submission) %></td>
</tr>


<tr>
<td><%=link_to "Back to Assignments Report",assignments_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></td>
<td colspan="2"><%= submit_tag("Create report",:class=>"btn") %></td></tr>
</table>
<% end %>



