<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div class="mail">
    <h1>L&D portal Notification</h1>
    <p>
      Your account has been deleted from L&D portal.
    </p>
  </body>
</div>
</html>