<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div class="mail">
    <h1>Welcome to L&D portal</h1>
    <p>
      You have been assigned a task in L&D portal.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</div>
</html>