<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <div class="mail">
    <h1>Welcome to L&D portal</h1>
    <p>
      You have been successfully Registered to L&D portal.<br>
      Username : <%= @user.username %><br>
      Password : <%= @user.password %><br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
  </body>
</div>
</html>