<%= javascript_include_tag('search') %>

<div align="center">
<%= error_messages_for(@user) %>
  <h2>Add User</h2>
  <div id="new_employee_dialog">
    <input type="text" placeholder="Search" id="emp" >   
    
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" id="accept" role="button">
      <span class="ui-button-text">ADD</span>
    </button>  
    
  </div>
  <%= form_for(:user, :url =>admins_path) do |f| %>


<table id="update">
      <tr>
        <th>Employee ID</th>
        <td><%= f.text_field(:employee_id,:autofocus=>true) %></td>
      </tr>
      
       <tr>
        <th><%= f.label(:username) %></th>
        <td><%= f.text_field(:username) %></td>
      </tr>

       <tr>
        <th><%= f.label(:email) %></th>
        <td><%= f.text_field(:email) %></td>
      </tr>

       <tr>
        <th><%= f.label(:type) %></th>
        <td><%= f.select(:type,options_for_select([ ['Admin', 'Admin'],['Director', 'Director'],['Manager', 'Manager'], ['Trainer', 'Trainer'], ['LOB head', 'Lob']]) )%>
        </td>

      </tr>

       <tr>
        <th><%= f.label(:password) %></th>
        <td><%= f.password_field(:password) %></td>
      </tr>
      <tr>
        <th><%= f.label(:password_confirmation) %></th>
        <td><%= f.password_field(:password_confirmation) %></td>
      </tr>
      <tr>
      <td><%=button_tag("Search by name",:id=>"check")%> </td>
      <td><%= submit_tag("Confirm",:class=>"btn") %></td>
      </tr>
  </table>
  <% end %>
    <ul class="backlink">
  <li><%=link_to "back to training schedule", trainings_path,:class=>"hvr-icon-back"%></li>
</ul>

</div>



