<div align="center">
<h2>Accounts List</h2>
<table id="table" >

	<tr>
		<th>Employee ID</th>
        <th>Username</th>
		<th>Email</th>
        <%if User.find(current_user.id).role=="Admin"%>
		<th>Type</th>
        <th>Actions</th>
        <%end%>
    </tr>
    <% @users.each do |t| %>
    <tr>
        <td><%= t.employee_id %></td>
    	<td><%= t.username %></td>
    	<td><%= t.email %></td>
        <!-- if the user is admin then he will have privilege to delete data -->
        <%if User.find(current_user.id).role=="Admin"%>
    	<td><%= t.role %></td>
        <td class="actions"><%= link_to("", admin_path(:id=>t.id),:method=>:delete,data: { confirm: 'Are you sure?' },:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%></td>
        <%end%>
  
    </tr>
    <% end %>
</table>
</div>