
<div align="center">
	<h2>Delete task</h2>
	<%= form_for(:task,:url=>task_path(:id=>@task.id),
	:method=>:delete) do |f| %>
	<p>Are you sure you want to permanently delete task of  <%= @task.assignee %> ?</p>
	<h1 class="fa fa-question-circle fa-4x"> </h1>
	<div>
		<%= button_tag("delete task",:class=>"hvr-shutter-in-vertical") %>
		</div>
	<ul class='backlink'>
<li><%=link_to "Back to tasks",tasks_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
	<% end %>



