
<div align="center">
	<h2>Update Status</h2>

<%= form_for(:task,:url=>task_path(:id=>@task),:method=>:patch) do |f| %>
<table id="update">
  <%if User.find(current_user.id).type=="Trainer"%>
 <tr>
 <th>status</th>
 <td><%=f.select :status, options_for_select([["created","created"],["In Progress", "In Progress"],["Completed", "Completed"]]) %></td>
 </tr>
<% end %>
<tr><td colspan="2" align="center"><%= submit_tag("Update project",:class=>"btn") %></td></tr>
</table>
<% end %>
<ul class='backlink'>
<li><%=link_to "Back to Tasks",tasks_path(:id=>@task.id),:class=>"hvr-icon-back"%></li>
</ul>

</div>
