<div align="center">
    <h2>Tasks</h2>
    
    <table id="table" >
  <tr>
      <th></th>
      
             <th>Assignee ID</th>
             <th>Assignee</th>
             <th>Title</th>
             <th>Description</th>
             <th>From</th>
             <th>To</th>
             <th>Priority</th>
             <th>Status</th>
             <th>Actions</th>
           </tr>
          <%if User.find(current_user.id).type=="Trainer" %>
          <% @tasks.each do |task| %> 
           <%if task.assignee_id==User.find(current_user.id).employee_id%>
            <tr>
                <%if task.created_at.to_date==Time.now.to_date%>
                <td><%= image_tag("new.gif", :alt => "new") %></td>
                <%elsif task.updated_at.to_date==Time.now.to_date%>
                <td><%= image_tag("updated.GIF", :alt => "updated") %></td>
                <%else%>
                <td></td>
                <%end%>
                <td><%= task.assignee_id %></td>
                <td><%= task.assignee %></td>
                <td><%= task.task_title %></td>
                <td><%= task.description %></td>
                <td><%= task.from.strftime("%d-%b-%Y") %></td>
                <td><%= task.to.strftime("%d-%b-%Y") %></td>
                <td><%= task.priority %></td>
                <td><%= task.status%></td>
            <!--only trainer can edit the task-->
                <td class="actions">
                <%= link_to("",edit_task_path(:id=>task.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                </td>
            </tr>
            <% end %>
           <% end %>
         <% end %>


     <%if User.find(current_user.id).role=="Admin" %>
          <% @tasks.each do |task| %> 
            <tr>
                <%if task.created_at.to_date==Time.now.to_date%>
                <td><%= image_tag("new.gif", :alt => "new") %></td>
                <%elsif task.updated_at.to_date==Time.now.to_date%>
                <td><%= image_tag("updated.GIF", :alt => "updated") %></td>
                <%else%>
                <td></td>
                <%end%>
                <td><%= task.assignee_id %></td>
                <td><%= task.assignee %></td>
                <td><%= task.task_title %></td>
                <td><%= task.description %></td>
                <td><%= task.from.strftime("%d-%b-%Y") %></td>
                <td><%= task.to.strftime("%d-%b-%Y") %></td>
                <td><%= task.priority %></td>
                <td><%= task.status%></td>
                <td class="actions">
            <!--only admin can delete the task-->
            <%= link_to("",delete_task_path(:id=>task.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %>
                </td>
            </tr>
           <% end %>
          <% end %> 
    </table>
    <%= will_paginate @tasks %>


    <%if User.find(current_user.id).role=="Admin"%>
   <ul>
   <li><%=link_to("Assign task",new_task_path,:class=>"hvr-icon-float-away")%></li>
   </ul>
    <%end%>
 </div>



