
<div align="center">

	<%= error_messages_for(@task) %>

	<h2>Create Task</h2>
<%= form_for(:task,:url=>tasks_path(:id=>@task.id),:method=>:post) do |f| %>
<table id="update">
		<tr>
<th>Assignee</th>
<td><%= f.select :assignee_id,options_for_select(@employees.all.map {|u| [u.username,u.employee_id]}) %> *lists only those who have an account</td>
</tr>
<tr>

<tr>
<th>Task title</th>
<td><%= f.text_field(:task_title) %></td>
</tr>
<tr>
<th>Description</th>
<td><%= f.text_area(:description,:size=>100,cols: 19, rows: 5) %></td>
</tr>
<tr>
<th>from</th>
<td><%= f.date_field(:from,:value=>Time.now.strftime("%Y-%m-%d")) %></td>
</tr>

<tr>
<th>To</th>
<td><%= f.date_field(:to,:value=>Time.now.strftime("%Y-%m-%d")) %></td>
</tr>


<tr>
<th>priority</th>
<td><%=f.select :priority, options_for_select([["Minor","minor"],["Major", "major"],["Critical", "critical"]]) %></td>
</tr>
<tr>
<th>status</th>
<td><%=f.select :status, options_for_select([["created","created"]]) %></td>
</tr>


<tr>
	<td colspan="2" align="center"><%= submit_tag("Create task",:class=>"btn") %></td>
</tr>
<% end %>

</table>
<ul class='backlink'>
<li><td><%=link_to "Back to Tasks",tasks_path(:id=>@task.id),:class=>"hvr-icon-back"%></td></li>
</ul>
</div>
