<table id="update">

<tr>
      

 <th>Assignee ID</th>
 <th>Assignee</th>
 <th>Title</th>
 <th>Description</th>
 <th>From</th>
 <th>To</th>
 <th>Priority</th>
 <th>Status</th>
</tr>

<% @tasks.each do |task| %> 
            <tr>
                <td><%= task.assignee_id %></td>
                <td><%= task.assignee %></td>
                <td><%= task.task_title %></td>
                <td><%= task.description %></td>
                <td><%= task.from %></td>
                <td><%= task.to %></td>
                <td><%= task.priority %></td>
                <td><%= task.status%></td>
                <td class="actions">
            <!--only admin can delete the task-->
            <%= link_to("",delete_task_path(:id=>task.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %>
                </td>
            </tr>
           <% end %>