<%= stylesheet_link_tag('login') %>
<%= javascript_include_tag('login') %>
 	
 	<div class="body">
 	<div class="wrapper">
 	<div class="container">
<h1>Resend unlock instructions</h1>


<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  

  
    <%= f.button "Send unlock instructions", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..."},:id=>"login" %>
  
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>