<%= form_for(@score) do |f| %>
  <% if @score.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@score.errors.count, "error") %> prohibited this score from being saved:</h2>

      <ul>
      <% @score.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
 <table id="update">
  <tr>
   <th> <%= f.label :gui %></th>
    <td><%= f.text_field :gui %></td>
  </tr>
<tr>
    <th><%= f.label :timeline %></th>
    <td><%= f.text_field :timeline %></td>
  </tr>
  <tr>
    <th><%= f.label :time_space %><th>
    <td><%= f.text_field :time_space %></td>
  </tr>
 <tr>
    <th> <%= f.label :logic %></th>
    <td><%= f.text_field :logic %></td>
  </tr>
 <tr>
     <th><%= f.label :code_convention %></th>
    <td><%= f.text_field :code_convention %></td>
  </tr>
<tr>
    <th> <%= f.label :use_technology %></th>
    <td><%= f.text_field :use_technology %></td>
  </tr>
<tr>
    <th> <%= f.label :tools_usage %></th>
     <td><%= f.text_field :tools_usage %></td>
  </tr>
<tr>
     <th><%= f.label :presentation %></th>
     <td><%= f.text_field :presentation %></td>
  </tr>
 <tr>
     <th><%= f.label :Time_space_effeciency %></th>
     <td><%= f.text_field :Time_space_effeciency %></td>
  </tr>
 <tr>
     <th><%= f.label :code_optimization %></th>
     <td><%= f.text_field :code_optimization %></td>
 </tr>
<tr>
     <th><%= f.label :meeting_timelines %></th>
     <td><%= f.text_field :meeting_timelines %></td>
  </tr>
 <tr>
     <th><%= f.label :code_integrity %></th>
     <td><%= f.text_field :code_integrity %></td>
  </tr>
<tr>
     <th><%= f.label :knowledge %></th>
     <td><%= f.text_field :knowledge %></td>
  </tr>
  <tr>
     <th><%= f.label :format_submission %></th>
     <td><%= f.text_field :format_submission %></td>
 </tr>
<tr>
    <%= f.submit ,:class=>"btn"%>
</tr>
<% end %>
</table>
