<h1>Editing score</h1>

<%= render 'form' %>

<%= link_to 'Show', @score %> |
<%= link_to 'Back', scores_path %>
<div align="center">
<h1>Editing score</h1>

<%= render(:partial=>"form") %>

<%= link_to 'Show', @score %> |
<%= link_to 'Back', scores_path %>
</div>

