


<h1>Listing scores</h1>

<table id="table">

<div align="center">
<h1>Listing scores</h1>

<table id="table" align="center">

  <thead>
    <tr>
      <th>Gui</th>
      <th>Timeline</th>
      <th>Time space</th>
      <th>Logic</th>
      <th>Code convention</th>
      <th>Use technology</th>
      <th>Tools usage</th>
      <th>Presentation</th>
      <th>Time space effeciency</th>
      <th>Code optimization</th>
      <th>Meeting timelines</th>
      <th>Code integrity</th>
      <th>Knowledge</th>
      <th>Format submission</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scores.each do |score| %>
      <tr>
        <td><%= score.gui %></td>
        <td><%= score.timeline %></td>
        <td><%= score.time_space %></td>
        <td><%= score.logic %></td>
        <td><%= score.code_convention %></td>
        <td><%= score.use_technology %></td>
        <td><%= score.tools_usage %></td>
        <td><%= score.presentation %></td>
        <td><%= score.Time_space_effeciency %></td>
        <td><%= score.code_optimization %></td>
        <td><%= score.meeting_timelines %></td>
        <td><%= score.code_integrity %></td>
        <td><%= score.knowledge %></td>
        <td><%= score.format_submission %></td>
        <td><%= link_to '', edit_score_path(score,:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ") %></td>
        <td><%= link_to '', score, method: :delete,:title=>"Delete",:class=>"fa fa-trash-o fa-2x", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Score', new_score_path %>

<%if Score.all.count<1%>
<li><%= link_to("Add score",new_score_path,:class=>"reports",:class=>"hvr-icon-float-away") %></li> 
<%end%>
</div>
