<p id="notice"><%= notice %></p>

<p>
  <strong>Gui:</strong>
  <%= @score.gui %>
</p>

<p>
  <strong>Timeline:</strong>
  <%= @score.timeline %>
</p>

<p>
  <strong>Time space:</strong>
  <%= @score.time_space %>
</p>

<p>
  <strong>Logic:</strong>
  <%= @score.logic %>
</p>

<p>
  <strong>Code convention:</strong>
  <%= @score.code_convention %>
</p>

<p>
  <strong>Use technology:</strong>
  <%= @score.use_technology %>
</p>

<p>
  <strong>Tools usage:</strong>
  <%= @score.tools_usage %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @score.presentation %>
</p>

<p>
  <strong>Time space effeciency:</strong>
  <%= @score.Time_space_effeciency %>
</p>

<p>
  <strong>Code optimization:</strong>
  <%= @score.code_optimization %>
</p>

<p>
  <strong>Meeting timelines:</strong>
  <%= @score.meeting_timelines %>
</p>

<p>
  <strong>Code integrity:</strong>
  <%= @score.code_integrity %>
</p>

<p>
  <strong>Knowledge:</strong>
  <%= @score.knowledge %>
</p>

<p>
  <strong>Format submission:</strong>
  <%= @score.format_submission %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |

<%= link_to 'Back', scores_path %>
