<%= stylesheet_link_tag('login') %>
<%= javascript_include_tag('login') %>
<div class="body"> 


  <div class="wrapper">
  
    <div class="container">
    <h2>Password Reset</h2>
    <%= error_messages_for(@user) %>
    <h4><b><%=@user.username.capitalize%></b> this is your first login,Please reset your password</h4>
    <%= form_for(:user, :url=>user_path(:id=>@user.id),:method=>:patch) do |f| %>

    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>

    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>



    <%= f.button "Change Password",data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..."} ,:id=>"login"%>

<% end %>
 </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>