<%= stylesheet_link_tag('login') %>
<%= javascript_include_tag('login') %>
  
  <div class="body">
  <div class="wrapper">
  <div class="container">
  <%=render "devise/shared/messages"%>
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  

  
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  

  
    <%= f.button "Change my password", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..."},:id=>"login" %></br>
  
<%= render "devise/shared/links" %>
<% end %>

