<%= stylesheet_link_tag('login') %>
<%= javascript_include_tag('login') %>
 	
 	<div class="body">
 	<div class="wrapper">
 	<div class="container">
  <%=render "devise/shared/messages"%>
 <h1>Forgot your password?</h1>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  

  
    <%= f.button "Reset Password",data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Processing..."},:id=>"login"%></br>
  
<%= render "devise/shared/links" %>
<% end %>

 </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</div>