 <% if object && object.errors.size > 0 %>
  
    <div align="center" class="isa_error">
   
 
    <% object.errors.full_messages.each do |msg| %>
    
      <p class="fa fa-times-circle"><%= msg %></p>
    <% end %>
    
</div>
<% end %>