<table id="update">
    <tr>
        <th>DepartmentId</th>
        <td><%=f.text_field(:id)%></td>
    </tr>
    <tr>
        <th>Name</th>
        <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
        <th>ManagerId</th>
        <td><%=f.text_field(:manager_id)%></td>
    </tr>
    <tr>
      
    <td colspan="2" align="center"><%= submit_tag("Update Department",:class=>"btn") %></td>
    </tr>
    
        </table>
