<div align="center">
  <h2>Remove Department</h2>

  <%= form_for(:department, :url => department_path(:id=>@department.id),:method=>:delete) do |f| %>

    <p>Are you sure you want to permanently delete <%= @department.name %> Department?</p>
    <h1 class="fa fa-question-circle fa-4x"> </h1>
   <div>
      <%= button_tag("Remove department",:class=>"hvr-shutter-in-vertical") %>
      </div>
    

  <% end %>
  <ul class='backlink'>
<li><%=link_to "back to Department list", departments_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>

