<div align="center">


<h2>Edit department</h2>
<%=form_for(:department,:url=>department_path(:id=>@department.id),:method=>:patch) do |f| %>
<!-- rendering the partial form -->
<%= render(:partial=>'form',:locals=>{:f=>f})%>


	<% end %>

<ul class='backlink'>
<li><%=link_to "Back to department list", departments_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
