<div align="center">
    <h2>Department List</h2>
  
    
    <table id="table">
        <tr class="header">
            <th>Department ID</th>
            <th>Department Name</th>
            <th>Actions</th>
        </tr>
        <% @department.each do |department| %>
        <tr>
            <td><%= department.id %></td>
            <td><%= department.name %></td>
            <td class="actions">
                
                <%= link_to("",edit_department_path(:id=>department.id),:title=>"Edit",:class=>'fa fa-pencil-square-o fa-2x ')%>
                <%= link_to("",delete_department_path(:id=>department.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>

            </td>
        </tr>
        <% end %>

    </table>
        

</div>