<%= javascript_include_tag('search') %>

<div align="center">
<%= error_messages_for(@department) %>
<h2>Add New Department</h2>
<div id="new_employee_dialog">
    <input type="text" placeholder="Search" id="emp" >   
    
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" id="accept" role="button">
      <span class="ui-button-text">ADD</span>
    </button>  
    
  </div>
<%=form_for(:department,:url=>departments_path,:method=>:post) do |f| %>
<table id="update">
    <tr>
        <th>Department id</th>
        <td><%=f.text_field(:id)%></td>
    </tr>
    <tr>
        <th>Department Name</th>
        <td><%= f.text_field(:name)%></td>
    </tr>
    <tr>
        <th>Manager id</th>
        <td><%=f.text_field(:manager_id)%></td>
    </tr>
    <tr>
    <td><%=button_tag("Search by name",:id=>"check")%> </td>      
    <td><%= submit_tag("Create Department",:class=>"btn") %></td>
    </tr>
    
        </table>
    <% end %>
<ul class='backlink'>
<li><%=link_to "back to Department list", departments_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
