<div align="center">

	<table id="update">
	<tr>
		<th>Department ID</th>
		<td><%=@department.id %></td>
	</tr>
	<tr>
		<th>Name</th>
		<td><%= @department.name %></td>
	</tr>
	<tr>
		<th>Manager Name</th>
		<td><%=Employee.find(@department.manager_id).name %></td>
	</tr>
	<tr>
		<th>Number of Employees</th>

		<td><%= Employee.where(:department_id=>@department.id).count%></td>

	</tr>
</table>


<ul class='backlink'>
<li><%=link_to "back to Department list", departments_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
