  <!-- partial form for projects to generate weightage -->                  



                       <%if @value==1 %>
                        <td><%= @percentage="25%" %></td>
                        <% elsif @value==2 %>
                        <td><%= @percentage="50%" %></td>
                         <% elsif @value==3 %>
                         <td><%= @percentage="75%" %></td>
                         <% else %>
                         <td><%= @percentage="100%" %></td>

                         <%end%>