



     
<div align="center">
	<h2>Delete Project</h2>
	<%= form_for(:project,:url=>project_path(:training_id=>@training.id),:method=>:DELETE) do |f| %>

	<p>Are you sure you want to permanently delete <%= @project.trainee_name%> project's report ?</p>

	<h1 class="fa fa-question-circle fa-4x"> </h1>
	<div>
		<%= button_tag("delete project",:class=>"hvr-shutter-in-vertical") %>
	</div>

	<% end %>

<ul class='backlink'>
<li><%=link_to "Back to Reports",projects_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>

</div>	


