
<ul class='backlink'>
<li><%=link_to "Back to Reports",projects_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>


<div align="center">
 <%= error_messages_for(@project) %>
	<h2>Update Evaluation</h2>


<%= form_for(:project,:url=>project_path(:training_id=>@training.id),:method=>:patch) do |f| %>
<table id="update">
	<tr>
<th>employee name </th>
<td><%= f.text_field(:trainee_name) %></td>
</tr>

<tr>
<th>GUI </th>
<td><%= f.text_field(:gui) %></td>
</tr>

<tr>
<th>timeline</th>
<td><%= f.text_field(:timeline) %></td>
</tr>

<tr>
<th>time and space</th>
<td><%= f.text_field(:time_space) %></td>
</tr>

<tr>
<th>logic</th>
<td><%= f.text_field(:logic) %></td>
</tr>

<tr>
<th>code convention</th>
<td><%= f.text_field(:code_convention) %></td>
</tr>

<tr>
<th>use of technology</th>
<td><%= f.text_field(:use_technology) %></td>
</tr>

<tr>
<th>tools used</th>
<td><%= f.text_field(:tools_usage) %></td>
</tr>

<tr>
<th>presentation</th>
<td><%= f.text_field(:presentation) %></td>
</tr>


<tr><td colspan="2" align="center"><%= submit_tag("Update project",:class=>"btn") %></td></tr>
<% end %>

</table>
<ul class='backlink'>
<li><%=link_to "Back to project Reports", projects_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>

</div>

