<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">

  <Worksheet ss:Name="Sheet1">
    <Table>
      
       <%  @excelexport.each do |p| %>
         <%if @training.id == p.training_id%>
      <Row>
       <Cell><Data ss:Type="String">Employee name</Data></Cell>
       <Cell><Data ss:Type="String"><%= p.trainee_name %></Data></Cell>
     </Row>
     <Row>
        <Cell><Data ss:Type="String">Parameters</Data></Cell>
        <Cell><Data ss:Type="String">Total Marks</Data></Cell>
        <Cell><Data ss:Type="String">Rating</Data></Cell>
        <Cell><Data ss:Type="String">Weightage</Data></Cell>
        <Cell><Data ss:Type="String">Marks Scored</Data></Cell>
       
     </Row>
     <Row>
        <Cell><Data ss:Type="String">Gui</Data></Cell>
       <Cell><Data ss:Type="Number"><%= @gui %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.gui %></Data></Cell>
       <% @value=p.gui %>
       <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
    
      
         <Cell><Data ss:Type="Number"><%= (p.gui*@gui)/4 %></Data></Cell>
       
      
      </Row>
     <Row>
       <Cell><Data ss:Type="String">Timeline</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @timeline %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.timeline %></Data></Cell>
      <% @value=p.timeline%>
       <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
         <Cell><Data ss:Type="Number"><%= (p.timeline*@timeline)/4 %></Data></Cell>
     </Row>
       <Row>
          <Cell><Data ss:Type="String">TimeSpace</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @time_space %></Data></Cell>
      <Cell><Data ss:Type="Number"><%= p.time_space %></Data></Cell>
      <% @value=p.time_space %>
        <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>

         <Cell><Data ss:Type="Number"><%= (p.time_space*@time_space)/4 %></Data></Cell>
     </Row>
      <Row>
         <Cell><Data ss:Type="String">Logic</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @logic %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.logic %></Data></Cell>
        <% @value=p.logic %>
        <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
         <Cell><Data ss:Type="Number"><%= (p.logic*@logic)/4 %></Data></Cell>
     </Row>
       <Row>
          <Cell><Data ss:Type="String">Code Convention</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @code_convention %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.code_convention %></Data></Cell>
      <% @value=p.code_convention %>
      <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
  
         <Cell><Data ss:Type="Number"><%= (p.code_convention*@code_convention )/4 %></Data></Cell>
     </Row>
     <Row>
           <Cell><Data ss:Type="String">Use Technology</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @use_technology %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.use_technology %></Data></Cell>
        <% @value=p.use_technology%>
        <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
  
         <Cell><Data ss:Type="Number"><%= (p.use_technology*@use_technology)/4 %></Data></Cell>
     </Row>
<Row>
           <Cell><Data ss:Type="String">Tools Usage</Data></Cell>
      <Cell><Data ss:Type="Number"><%= @tools_usage %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.tools_usage %></Data></Cell>
       <% @value=p.tools_usage%>
       <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
        
         <Cell><Data ss:Type="Number"><%= (p.tools_usage*@tools_usage)/4 %></Data></Cell>
     </Row>
     <Row>
           <Cell><Data ss:Type="String">Presentation</Data></Cell>
      <Cell><Data ss:Type="Number"><%=  @presentation %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= p.presentation %></Data></Cell>
       <% @value=p.presentation%>
       <Cell><Data ss:Type="String"><%=weigh=weightage(@value) %></Data></Cell>
        
                  <Cell><Data ss:Type="Number"><%= (p.presentation*@presentation)/4 %></Data></Cell>
     </Row>
       <Row>
       </Row>
  <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>













