
<div align="center">

    <h2>Project Reports</h2>
     <ul class='Exel'>
<li>Download:<%= link_to "Export to spreadsheet",projects_path(format: "xls",:training_id=>@training.id) %></li><br><br>
</ul>


    

     <%= form_tag projects_path,:method=>:get do%>
    <p> <%=hidden_field_tag :training_id,params[:training_id]%>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
        </p>
    <%end%>
</div>
    

        <% @projects.each do |p| %>  
         <%if @training.id == p.training_id%>
         <table id="assign" >
            <tr>
                <th>Name of the Trainee</th>

                    <td colspan="4"><%= p.trainee_name %></td>
                    </tr>
                    <tr>
                        <th>parameters</th>
                        <th>total marks</th>
                        <th>rating</th>
                        <th>weightage</th>
                        <th>marks scored</th>
                 
                        
                    </tr>
                    <tr>
                        <th>GUI</th>
                    
                        <td><%= @gui %></td>
                        <td><%= p.gui %></td>
                       <% @value=p.gui %>
                    <% weigh=weightage(@value) %>
                    <td><%= weigh %></td>
                       
                        <td><%= h=(p.gui.to_f*@gui)/4 %></td>
                       
                    </tr>

            
            <tr>
                <th>timeline</th>
                
                <td><%= @timeline %></td>
                 <td><%= p.timeline %></td>
                 <% @value=p.timeline%>
                  <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                  <td><%=a=(p.timeline*@timeline)/4 %></td>
            </tr>

            <tr>
                <th>Time and Space</th>
             
                <td><%= @time_space %></td>
                <td><%= p.time_space %></td> 
                <% @value=p.time_space %>
                <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                <td><%= b=(p.time_space*@time_space)/4 %></td>

            </tr>
            <tr>
                <th>logic</th>
             
                <td><%= @logic %></td>
                <td><%= p.logic %></td>
            <% @value=p.logic %>
                  <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                       <td><%= c=(p.logic*@logic)/4 %></td>
            </tr>

            <tr>
                <th>code convention</th>
        
                <td><%= @code_convention %></td>
                <td><%= p.code_convention %></td>
                  <% @value=p.code_convention %>
                 <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                 <td><%= d=(p.code_convention*@code_convention )/4 %></td>
            </tr>

            <tr>
                <th>use technology</th>
              
                <td><%= @use_technology %></td>
                <td><%= p.use_technology %></td>
                 <% @value=p.use_technology %>
                  <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                  <td><%= e=(p.use_technology*@use_technology)/4 %></td>
            </tr>
            <tr>
                <th>tools usage</th>
          
                    <td><%= @tools_usage %></td>
                    <td><%= p.tools_usage %></td>
                  <% @value=p.tools_usage %>
                      <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                          <td><%= f=(p.tools_usage*@tools_usage)/4 %></td>
                </tr>
            <tr>
               <th> presentation</th>
            
               <td><%= @presentation %></td>
               <td><%= p.presentation %></td>
               <% @value=p.presentation %>
               <%= render(:partial=>"form",:locals=>{:p=>p}) %>
                <td><%= g=(p.presentation*@presentation)/4 %></td>
           </tr>
            <tr>
            <th>Total</th>
            <th><%=  @gui+@timeline+@time_space+@logic+@code_convention+@use_technology+@tools_usage+@presentation %></th>
            <th>&nbsp</th>
            <th>&nbsp</th>
            <th><%= (a+b+c+d+e+f+g+h) %></th>
           </tr>
   <%if User.find(current_user.id).type=="Trainer"%>
           <tr > 

            <th align="center" class="actions">
               
                <%= link_to("",edit_project_path(:id=>p.id,:training_id=>@training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_project_path(:id=>p.id,:training_id=>@training.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>
             
            </td>
                            

        </tr>
 <%end%>
      </table>
        <% end %>
        <% end %>


   
<div align="center" style="clear:both">

<%if User.find(current_user.id).type=="Trainer"%>
<ul><li><%=link_to("Add Entry",new_project_path(:training_id=>@training.id),:class=>"hvr-icon-float-away")%></li></ul>

<%end%>
<div class="digg_pagination">
<%= will_paginate @projects%>
</div>
<ul class="backlink">
<li><%=link_to "Back to Reports", reports_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>



