

        <%= link_to("<<Back to list",projects_path(:training_id=>@training.id),:method=>:GET) %>
<div class="Project show">
	<h2>Show Projects</h2>





	<table id="background-image" summary="Project detail view">

		<tr>
			<th>Employee name</th>
			<td><%= @project.employee_name%></td>
		</tr>
		<tr>
			<th>GUI</th>
			<td><%= @project.gui %></td>
		</tr>

		<tr>
			<th>timeline</th>
			<td><%= @project.timeline %></td>
		</tr>

	    <tr>
			<th>logic</th>
			<td><%= @project.logic%></td>
		</tr>

		<tr>
			<th>code convention</th>
			<td><%= @project.code_convention%></td>
		</tr>


		<tr>
			<th>use technology</th>
			<td><%= @project.use_technology%></td>
		</tr>
		<tr>
			<th>tools usage</th>
			<td><%= @project.tools_usage%></td>
		</tr>
		<tr>
			<th>presentation</th>
			<td><%= @project.presentation%></td>
		</tr>
		

		
	</table>
</div>

