<!-- a template for deletion -->


<div align="center">
 <h2>Remove Certification</h2>

<%= form_for(:Certification,:url=>certification_path,:method=>:DELETE) do |f| %>

   <p>Are you sure you want to delete <%= @certification.employee_name %>'s <%= @certification.Test %> certification Record?</p>
   <h1 class="fa fa-question-circle fa-4x"> </h1>
   <div>
     <%= button_tag("Remove certification",:class=>"hvr-shutter-in-vertical") %>
     </div>

 <% end %>
 <ul class="backlink">
  <li><%=link_to "back to certification", certifications_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>


		

		
