
<div align="center">
<%= error_messages_for(@certification) %>
	<h2>Update Certification</h2>


<%= form_for(:certification,:url=>certification_path,:method=>:patch) do |f| %>
<table id="update">
<tr>
<th>Employee ID</th>
<td><%= f.text_field(:employee_id) %></td>
</tr>

<tr>
<th>Certificate Title </th>
<td><%= f.text_field(:Test) %></td>
</tr>

<tr>
<th>Date</th>
<td><%= f.date_field(:Date) %></td>
</tr>

<tr>
<th>Total Score</th>
<td><%= f.text_field(:Total_Score) %></td>
</tr>

<tr>
<th>Score achieved</th>
<td><%= f.text_field(:Score_achieved) %></td>
</tr>


<tr>
<th>Remarks</th>
<td><%= f.text_field(:Remarks) %></td>
</tr>

<tr><td colspan="2" align="center"><%= submit_tag("Update Certification",:class=>"btn") %></td></tr>
</table>
<% end %>
<ul class="backlink">
  <li><%=link_to "back to certification", certifications_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
