
<div class="Certification index" align="center">


    <h2> Mock Certification Test Reports</h2>
<ul class='Exel'>
<li>Download:<%= link_to "Export to spreadsheet", certifications_path(format: "xls") %></li><br><br>
</ul>


   <!-- <table class="listing" summary="certification list" border=1 > -->
<!-- a text box with a search button -->
<%= form_tag certifications_path,:method=>:get do%>

    <p>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
        </p>
    <%end%>

    <table id="table" >

        <tr class="header">
            <th>Employee ID</th>
            <th>Employee name</th>
            <th>Certificate Title</th>
            <th>Date</th>
            <th>Total Score</th>
            <th>Score achieved</th>
            <th>Percentage</th>
            <th>Remarks</th>
            <th>Actions</th>
        </tr>
        
      <%if User.find(current_user.id).role=="Admin"%>
       <% @certification.each do |certification| %>  
      
            <tr>
            <td><%= certification.employee_id%></td>
            <td><%= certification.employee_name %></td>
            <td><%= certification.Test %></td>
            <td><%= certification.Date.strftime("%d-%b-%Y") %></td>
            <td><%= certification.Total_Score %></td>
            <td><%= certification.Score_achieved %></td>
            <!-- calculates the weightage based on total marks and marks scored -->
            <td><%= ((certification.Score_achieved/certification.Total_Score)*100).round(2) %>%</td>

            <td><%= certification.Remarks %></td>


      <!-- permissions for only trainer to edit delete create a new record -->  
            <td class="actions">

                <%if User.find(current_user.id).role=="Admin"%>
              
                <%= link_to("",edit_certification_path(:id=>certification.id),:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_certification_path(:id=>certification.id),:class=>"fa fa-trash-o fa-2x")%>
                <% end %>
            </td>

             </tr> 
    <% end %>
<%end%>

      <%if User.find(current_user.id).role=="Director" || User.find(current_user.id).role=="Manager" || User.find(current_user.id).role=="Lob"%>
       <% @certification.each do |certification| %>  
        
         <% @Emp.each do |record|%>

              <%if certification.employee_id==record.employee_id%>
      
            <tr>
            <td><%= certification.employee_name %></td>
            <td><%= certification.Test %></td>
            <td><%= certification.Date.strftime("%d-%b-%Y") %></td>
            <td><%= certification.Total_Score %></td>
            <td><%= certification.Score_achieved %></td>
            <!-- calculates the weightage based on total marks and marks scored -->
            <td><%= ((certification.Score_achieved/certification.Total_Score)*100).round(2) %>%</td>
            <td><%= certification.Remarks %></td>


      <!-- permissions for only trainer to edit delete create a new record -->  
            <td class="actions">

                <%if User.find(current_user.id).role=="Admin"%>
              
                <%= link_to("",edit_certification_path(:id=>certification.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_certification_path(:id=>certification.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>
                <% end %>
            </td>

             </tr> 
    <% end %>
<%end%>         
    <% end %>
<%end%>


   </table>
   <%if User.find(current_user.id).role=="Admin"%>
   <%=link_to("Add new certification",new_certification_path,:class=>"hvr-icon-float-away") %>
   <%end%>
    <%= will_paginate @certification%> 
</div>