<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
       
       
        <Cell><Data ss:Type="String">Employee name</Data></Cell>
        <Cell><Data ss:Type="String">Tests</Data></Cell>
        <Cell><Data ss:Type="String">Date </Data></Cell>
        <Cell><Data ss:Type="String">Total score</Data></Cell>
        <Cell><Data ss:Type="String">Score achived</Data></Cell>
        <Cell><Data ss:Type="String">Percentage</Data></Cell>
          <Cell><Data ss:Type="String">Remarks</Data></Cell>
      
      
      
      </Row>
    <%  @excelexport.each do |certification| %>

      <Row>
       

        <Cell><Data ss:Type="String"><%= Employee.find(certification.employee_id).name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= certification.Test %></Data></Cell>
        <Cell><Data ss:Type="String"><%= certification.Date %></Data></Cell>
       
          <Cell><Data ss:Type="String"><%= certification.Total_Score %></Data></Cell>
          <Cell><Data ss:Type="String"><%= certification.Score_achieved %></Data></Cell>
            <Cell><Data ss:Type="String"><%= ((certification.Score_achieved/certification.Total_Score)*100).round(2) %>%</Data></Cell>
              <Cell><Data ss:Type="String"><%= certification.Remarks %></Data></Cell>

       

           
      </Row>
    <% end %>

    </Table>
  </Worksheet>
</Workbook>

