<%= javascript_include_tag('search') %>

<div align="center">
	<%= error_messages_for(@certification) %>
	<h2>Create Certification</h2>
	<div id="new_employee_dialog">
    <input type="text" placeholder="Search" id="emp" >   
    
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" id="accept" role="button">
      <span class="ui-button-text">ADD</span>
    </button>  
    
  </div>

<%= form_for(:certification,:url=>certifications_path,:method=>:post) do |f| %>

	<table id="update">

<tr>
<th>Employee ID </th>
<td><%= f.text_field(:employee_id)%></td>
</tr>

<tr>
<th>Certificate Title </th>
<td><%= f.text_field(:Test) %></td>
</tr>

<tr>
<th>Date </th>
<td><%= f.date_field(:Date,:value=>Time.now.strftime("%Y-%m-%d")) %></td>
</tr>

<tr>
<th>Total Score </th>
<td><%= f.text_field(:Total_Score) %></td>
</tr>

<tr>
<th>Score achieved</th>
<td><%= f.text_field(:Score_achieved) %></td>
</tr>

<tr>
<th>Remarks</th>
<td><%= f.text_field(:Remarks) %></td>
</tr>

<tr>
<td><%=button_tag("Search by name",:id=>"check")%> </td>
<td><%= submit_tag("create certification",:class=>"btn") %></td></tr>

</table>
<% end %>
        <ul class="backlink">
  <li><%=link_to "back to certification", certifications_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
