<li>
      <a href="#"><i class="fa fa-check-square-o" aria-hidden="true"></i> Tasks</a>
      <ul class="menu vertical sublevel-2">
        <li><%= link_to new_task_path,:class=>'back-link' do %>
          <i class="fa fa-plus" aria-hidden="true"></i>
          Create Task
          <%end%>
        </li>
        <li><%= link_to tasks_path,:class=>'back-link' do %>
          <i class="fa fa-tasks" aria-hidden="true"></i>
          View Task
          <%end%>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Trainings</a>
      <ul class="menu vertical sublevel-2">
        <li><%= link_to trainings_path,:class=>'back-link' do %>
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          My Trainings
          <%end%>
        </li>
        <li><%= link_to trainings_path,:class=>'back-link' do %>
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          All trainings
          <%end%>
        </li>    
        <li><%= link_to new_training_path,:class=>'back-link' do %>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Schedule a training
          <%end%>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-file-text" aria-hidden="true"></i> Certifications</a>
      <ul class="menu vertical sublevel-2">
        <li><%= link_to certifications_path,:class=>'back-link' do  %>
          <i class="fa fa-address-card-o" aria-hidden="true"></i>
          Mock Certification Tests
          <%end%>
        </li>
        <li><%= link_to empreports_path,:class=>'back-link' do %>
          <i class="fa fa-address-card-o" aria-hidden="true"></i>
          Employee Certifications
          <%end%>
        </li>    
      </ul>
    </li> 
    <li>
      <a href="#"><i class="fa fa-lg fa-users" aria-hidden="true"></i> User Accounts</a>
      <ul class="menu vertical sublevel-1">
        <li><%= link_to new_admin_path,:class=>'back-link' do %>
          <i class="fa fa-user-plus" aria-hidden="true"></i>
          Create Account
          <%end%>
        </li>
        <li><%= link_to admin_path(:id),:class=>'back-link' do %>
          <i class="fa fa-users" aria-hidden="true"></i>
          Accounts list
          <%end%>
        </li>
      </ul>
    </li>
    <li>
      <a href="#"><i class="fa fa-lg fa-database" aria-hidden="true"></i> Employee Database</a>
      <ul class="menu vertical sublevel-1">
        <li><%= link_to("Add new Employee",new_employee_path,:class=>'back-link') %></li>
        <li><%= link_to("Employee list",employees_path,:class=>'back-link') %></li>
        <li><%= link_to("Add new Department",new_department_path,:class=>'back-link') %></li>
        <li><%= link_to("Department list",departments_path,:class=>'back-link') %></li>
      </ul>
    </li>
    <li>
      <a href="#">ScoreCards</a>
      <ul class="menu vertical sublevel-1">
        <li>
          <a href="#">Sub-item 3</a>
          <ul class="menu vertical sublevel-2">
            <li><%= link_to("Add Scorecard",new_scorecard_path,:class=>'back-link') %></li>
            <li><%= link_to("View ScoreCard",scorecards_path,:class=>'back-link') %></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>
