<%= stylesheet_link_tag('login') %>
<%= javascript_include_tag('login') %>
<div class="body"> 


  <div class="wrapper">

    <div class="container">

    <%=render "devise/shared/messages"%>
    
    <h1 >Log in</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name),:class=>"form") do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username,:required=>true %>



      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off",:required=>true%>


      <%= f.button "Log in",data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Logging in..."},id: "login"%></br>
      <%= render "devise/shared/links" %>
      <% end %>
      

<p color="red">*Warning: Your account could be locked on consecutive login failures</p>
    </div>

    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </div>

</div>

