<!-- takes the particular id and delets it -->

<div align="center">
 <h2>Remove trainee</h2>

 <%= form_for(:training, :url => tnrenroll_path(:training_id=>@training.id),:method=>:delete) do |f| %>

   <p>Are you sure you want to delete trainee of ID <%= @tnrenroll.employee_id%> ?</p>
   <h1 class="fa fa-question-circle fa-4x"> </h1>
   

   	<div>
     <%= button_tag("Remove trainee ",:class=>'hvr-shutter-in-vertical') %>
  </div>

 <% end %>
 <ul class="backlink">
  <li><%=link_to "back to trainee list", tnrenrolls_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>