<div align="center"> 
<h2> Trainees Enrolled</h2>
<table id="table" >
		<tr>

      <th>Trainee ID</th>
			<th>Trainee Name</th>
			<th>Clearance</th>
			<%if User.find(current_user.id).role=="Admin" || User.find(current_user.id).role=="Trainer"%>
			<th>Actions</th>
			<%end%>
						
		</tr>

<%if User.find(current_user.id).role=="Admin" || User.find(current_user.id).role=="Trainer"%>
	<% @tnrenrolls.each do |enroll| %>
		<%if @training.id==enroll.training_id%>
		<tr>
				<td><%= enroll.employee_id %></td>
				<td><%= enroll.trainee_name %></td>
					<% if enroll.cleared %>
						<td><%= enroll.cleared %></td>
					<%else%>
						<td>NO</td>
						<%end%>			
				<%if User.find(current_user.id).role=="Trainer" || User.find(current_user.id).role=="Admin"%>
				<td class="actions">
				<%= link_to("",edit_tnrenroll_path(:id=>enroll.id,:training_id=>@training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ") %> 
				<%end%>
				<%if User.find(current_user.id).role=="Admin"%>
				<%= link_to("",delete_tnrenroll_path(enroll.id,:training_id=>@training.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %>
									
				</td>
				<%end%>
			</tr>
    <%end%>
  <%end%>
<%end%>








	


<% @tnrenrolls.each do |enroll| %>
		
			<%if @training.id==enroll.training_id%>

				<%@Emp.each do |record|%>

							<%if enroll.employee_id==record.employee_id%>
								<tr>
									<td><%= enroll.employee_id %></td>
									<td><%= Employee.find(enroll.employee_id).name %></td>
									
										<% if enroll.cleared %>
											<td><%= enroll.cleared %></td>
										<%else%>
											<td>NO</td>
										<%end%>			
									
								</tr>
							<%end%>
						<%end%>
					<%end%>	
				<%end%>	
				
</table>

<%if User.find(current_user.id).role=="Admin"%>
<ul><li><%=link_to("add trainees",new_tnrenroll_path(training_id:@training.id),:class=>"hvr-icon-float-away")%></li></ul>

<%end%>
												



	<ul class="backlink">
  <li><%=link_to "back to training schedule", trainings_path,:class=>"hvr-icon-back"%></li>
</ul>


</div>