<%= javascript_include_tag('search') %>

<div align="center">
<h2>New trainee</h2>
  <div id="new_employee_dialog">
    <input type="text" placeholder="Search" id="emp" >   
    
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" id="accept" role="button">
      <span class="ui-button-text">ADD</span>
    </button>  
    
  </div>

<%=form_for(:tnrenroll,:url=>tnrenrolls_path(:training_id=>@training.id),:method=>:post) do |f| %>

<table id="update" summary="employee form filds">
	<tr>
		<th>training name</th>
		<td><%=@training.course%></td>
	</tr>
	<tr>
		<th>training ID</th>
		<td><%=f.text_field(:training_id,:readonly => true,:value=>@training.id)%></td>
	</tr>

	<tr>
		<th>trainee ID</th>
		<td><%=f.text_field(:employee_id)%></td>
	</tr>
		<tr>
		<td><%=button_tag("Search by name",:id=>"check")%> </td>
		<td><%=submit_tag("Add Trainee",:class=>'btn')%></td>
	</tr>
	
	</table>
	<% end %>
	<ul class="backlink">
  <li><%= link_to("back to Trainee-list",tnrenrolls_path(:training_id=>@training.id),:class=>"hvr-icon-back")%>
</li>
</ul>
	</div>		



