

/*MENU*/

.menu {
  list-style: none;
  line-height: 42px;
  
  /*outline: 1px solid red;*/
  

}



.menu  a:hover {
  margin-left: 15px;
  -webkit-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}



.menu li:hover { box-shadow: 15px 0 rgba(52,152,219,.2)inset; }


/* MENU*/
/*Responsive Menu*/

nav {
  
  position: absolute;
  left: -15.7em;
  top: 11em;
  
  box-sizing: border-box;
  z-index: 1;
  
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
 
}

nav.active { left: 0; }

#mobile-nav {
 
  font-size: 30px;
  
  cursor: pointer;
  position: absolute;
  right:-1em;
  top:0.5em;
  z-index: -1;
}

#mobile-nav:hover {
 
 color:rgb(52,152,219);
 
 

}

