@import url("http://fonts.googleapis.com/css?family=Offside");
@import url("fontface.css");
@import url("font-awesome.css");
/* Public stylesheet */

/* Colors
red:          #993120
green:        #94B26F
light green:  #B6D491
yellow:       #F2DC87
dark brown:   #332318
light brown:  #4C2516
*/
/*main body styles*/


.notice{

  text-align: center;
}

#loader{
  position: fixed;
  height: 100%;
  width: 100%;
  top:0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index:9999;
  font-size: 20px;
  text-align: center;
  padding-top: 200px;
  color: #fff;
}


#sitename{
  font-family: chunk;
  color:#1F1C2C;
  text-shadow:#2A2A2A 0px 1px 1px;
}

#sitename small {
  font: italic 46px Georgia, "Times New Roman", Times, serif;
  color: #1F1C2C;;

}

#logo
{
  padding:0;
  padding-bottom: 1rem;
}


select{

  width:173px;
}

form input[type='date']
{
  width: 170px;

}


body
{ 

	width: 100%;  
  height: 100%;
  margin: 0; 
  padding: 0; 
  font: 14px Verdana,Lucida,Arial,Helvetica,sans-serif; 


}


.content
{
  height: 100%;
  -moz-box-shadow:       0px  -5px 20px grey;
  -webkit-box-shadow:   0px  -5px 20px grey;
  box-shadow:           0px  -5px 20px grey;


}

h2{
  font: normal 32px Contra,Helvetica;
}

header{



  background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #E5E5BE 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #E5E5BE 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* IE10 */
  background:      -o-linear-gradient(90deg, #ECE9E6 10%, #FFFFFF 90%); /* Opera 11.10+ */
  background:         linear-gradient(90deg, #ECE9E6 10%, #E5E5BE 90%); /* W3C */
  
  
  
  z-index: -1;
}

.is-accordion-submenu-parent a {
  background: #4d5158; }

  .is-accordion-submenu a {
    background: #35383d; }

    .sublevel-1 {
      text-indent: 0.5rem; }

      .sublevel-2 {
        text-indent: 1rem; }

        .sublevel-3 {
          text-indent: 1.5rem; }

          .sublevel-4 {
            text-indent: 2rem; }

            [data-accordion-menu] a {
              color: #fff;
              box-shadow: inset 0 -1px #41444a; }
              [data-accordion-menu] a::after {
                border-color: #fff transparent transparent; }

                .menu > li:not(.menu-text) > a {
                  padding: 1.2rem 0.5rem; }

                  #offCanvas {
                    overflow: hidden;
                  }
                  

                  /*------------------------------------------------------------------------------------------------*/


                  /*Trainings table styles*/



                  .Training
                  {
                   margin:0;
                   padding: 0;

                 }
                 #table
                 {
                  clear:both;
                  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                  font-size: 12px;
                  width: 95%;
                  text-align: left;


                  border-collapse: collapse;
                }

                #table th
                {
                 font-size: 13px;
                 font-weight: 600;
                 padding: 8px;
                 background: #b9c9fe url('table-images/gradhead.png') repeat-x;
                 border-top: 2px solid #d3ddff;
                 border-bottom: 1px solid #fff;
                 color: #039;
               }

               #table td
               {
                 padding: 8px; 
                 border-bottom: 1px solid grey;
                 table-layout: fixed;
                 color: #669;
                 border-top: 1px solid #fff;
                 background: #e8edff url('table-images/gradback.png') repeat-x;


               }

               #table tbody tr:hover td

               {
                 background: #d0dafd url('table-images/gradhover.png') repeat-x;
                 color: #339;
               }

               #table tbody td
               {
                 background: none;
               }	
               /*-----------------------------------------------------------------------------------------*/

               /*update table styles*/


               #update
               {
                clear:both;
                font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
                font-size: 12px;
                width: 50%;
                text-align: left;
                border-collapse: collapse;
              }

              #update th
              {
               font-size: 13px;
               font-weight: 600;
               padding: 8px;
               background: #b9c9fe url('table-images/gradhead.png') repeat-x;
               border-top: 2px solid #d3ddff;
               border-bottom: 1px solid #fff;
               color: #039;
             }

             #update td
             {
               padding: 8px; 
               
               table-layout: fixed;
               color: #669;
               border-top: 1px solid #fff;
               background: #e8edff url('table-images/gradback.png') repeat-x;


             }

             #update tbody tr:hover td

             {
               background: #d0dafd url('table-images/gradhover.png') repeat-x;
               color: #339;
             }

             #update tbody td
             {
               background: none;
             }	

             #update input[type='submit']:hover
             {
              cursor:pointer;
            }

            /*assignment reports*/

            #assign
            {
              float: left;
              width: 33%;
              font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
              font-size: 12px;
              text-align: left;
              border-collapse: collapse;
            }

            #assign th
            {
              font-size: 13px;
              font-weight: normal;
              padding: 8px;
              background: #b9c9fe url('table-images/gradhead.png') repeat-x;
              border-top: 2px solid #d3ddff;
              border-bottom: 1px solid #fff;
              color: #039;
            }

            #assign td
            {
              padding: 8px; 
              
              table-layout: fixed;
              color: #669;
              border-top: 1px solid #fff;
              background: #e8edff url('table-images/gradback.png') repeat-x;


            }

            #assign tbody tr:hover td

            {
              background: #d0dafd url('table-images/gradhover.png') repeat-x;
              color: #339;
            }

            #assign tbody td
            {
              background: none;
            } 

            #assign input[type='submit']:hover
            {
              cursor:pointer;
            }




            /*scorecard styles*/

            .wrapper
            {
              width: 95%;
              margin: 0 auto;
              height: 100%;
            }

            #scorenew
            {
              width: 60%;
              font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
              font-size: 14px;
              text-align: left;
              border-collapse: collapse;
            }

            #scorenew th
            {
              font-size: 14px;
              padding: 8px 0px;
              padding-left: 5px;
              font-weight: 600;
              background: url('table-images/gradhead.png') repeat-x;
              color: #339;
            }

            #scorenew td
            {
              color: #669;
              margin-bottom: 2px;
              padding-left: 5px;
              background: #e8edff url('table-images/gradback.png') repeat-x;

            }


            #scorenew tr:hover 

            {
              background: #d0dafd url('table-images/gradhover.png') repeat-x;
              color: #339;
            }

            #scorenew tbody td
            {
              background: none;
            } 

            #scorenew input[type='submit']:hover
            {
              cursor:pointer;
            }

            #scorecard
            {
              
              float: left;
              font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
              font-size: 14px;
              text-align: left;

              border-collapse: collapse;
            }

            #scorecard th
            {
              font-size: 14px;
              font-weight: 600;
              padding: 8px;
              background: url('table-images/gradhead.png') repeat-x;
              border-top: 2px solid #d3ddff;
              border-bottom: 1px solid #fff;
              color: #339;
            }

            #scorecard td
            {
              
              
              padding: 8px;
              color: #669;
              
              background: #e8edff url('table-images/gradback.png') repeat-x;
              border-top: 2px solid #d3ddff;
              border-bottom: 1px solid #fff;

            }


            #scorecard tbody tr:hover td

            {
              background: #d0dafd url('table-images/gradhover.png') repeat-x;
              color: #339;
            }

            #scorecard tbody td
            {
              background: none;
            } 

            #scorecard input[type='submit']:hover
            {
              cursor:pointer;
            }



            /*-----------------------------------------------------------------------------------------*/

            /*table button styles*/

            .actions ul{

              padding:0;
              margin:0;  
            }
            .actions ul li
            {

              list-style:none;
              float: left;

            }

            .actions a
            {
              padding-right: 0.5em;
              color: #669;

            }

            .actions a:hover
            {

              color:black;


            }


            /*-----------------------------------------------------------------------------------------*/

            /*navigation bar styles*/

            #nav 
            { 
             list-style-type: none; margin: 0; padding: 0;

           }
           #nav 
           { 
            
            background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#292929));
            background: -webkit-linear-gradient(top, #343434, #292929);
            background: -moz-linear-gradient(top, #343434, #292929);
            background: -ms-linear-gradient(top, #343434, #292929);
            background: -o-linear-gradient(top, #343434, #292929);
            background: linear-gradient(top, #343434, #292929);
            color: #4C2516;  
            display: block; 
            width: 220px; 
            margin: 0 auto; 
            font-size: 14px;
            height: 450px;
          }

          #nav ul {

            padding:1em ;
            margin:0;
            
          }


          #nav > li > a { 
            list-style-type: none;
            display: block; 
            padding: 5px 10px;
            font-weight: bold;
            color: #d4d4d4;
            text-decoration: none;
            border-bottom: 1px solid #212121;
            background-color: #343434;
            background: -webkit-gradient(linear, left top, left bottom, from(#343434), to(#292929));
            background: -webkit-linear-gradient(top, #343434, #292929);
            background: -moz-linear-gradient(top, #343434, #292929);
            background: -ms-linear-gradient(top, #343434, #292929);
            background: -o-linear-gradient(top, #343434, #292929);
            background: linear-gradient(top, #343434, #292929);
          }

          #nav > li > a:hover, #nav > li > a.open 
          { 
            color: #e9e9e9;
            border-bottom-color: #384f76;
            
            background: -webkit-gradient(linear, left top, left bottom, from(#6985b5), to(#456397));
            background: -webkit-linear-gradient(top, #6985b5, #456397);
            background: -moz-linear-gradient(top, #6985b5, #456397);
            background: -ms-linear-gradient(top, #6985b5, #456397);
            background: -o-linear-gradient(top, #6985b5, #456397);
            background: linear-gradient(top, #6985b5, #456397);
          }


          #nav li ul { list-style-type: none;display: none; background: #4a5b78; }


          #nav li ul li a { 
            display: block; 
            background: none;
            font-size: 12px;
            
            text-decoration: none;
            font-weight: bold;
            color: #e3e7f1;
            text-shadow: 1px 1px 0px #000;
          }
          #nav li ul li a:hover {
            background: #394963;
          }
          .notice{
           text-align: center;
           font-family: Serif;
         }
         .input{
           font-family: "Courier New", Courier, monospace;
         }

         .mail{
          font-style: italic;
        }



        /*--------------------------------------------------------------------------------------*/

        /*report links styles*/

        ul.reportlinks
        {
         font-size: 16px;
         display: block;
         list-style-type: none;
       }

       ul.reportlinks li a
       {
        
        text-decoration: none;
        margin:5px;
        color:grey;
        text-align: center;
        
      }

      /*backlink styles*/

      .backlink
      {
        position: relative;

        right:20em;

      }

      .backlink li a
      {
        color:black;


      }


      /*download link styles*/

      .Exel
      {
       color: red; 
       padding:0;
       margin:0;
       font-size: 16px;
       display: inline;
       list-style-type: none;
     }
     .Exel a
     {
       color: blue; 

       margin:0; 
     }

     /*form submit button styles*/

     .btn {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      text-shadow: 1px 1px 3px #666666;
      -webkit-box-shadow: 0px 1px 3px #666666;
      -moz-box-shadow: 0px 1px 3px #666666;
      box-shadow: 0px 1px 3px #666666;
      font-family: Arial;
      color: #ffffff;
      font-size: 12px;
      padding: 10px 20px 10px 20px;
      border: solid #1f628d 2px;
      text-decoration: none;
    }

    .btn:hover {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }

    #check  
    {
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      text-shadow: 1px 1px 3px #666666;
      -webkit-box-shadow: 0px 1px 3px #666666;
      -moz-box-shadow: 0px 1px 3px #666666;
      box-shadow: 0px 1px 3px #666666;
      font-family: Arial;
      color: #ffffff;
      font-size: 12px;
      padding: 10px 20px 10px 20px;
      border: solid #1f628d 2px;
      text-decoration: none;

    }

    #check:hover
    {
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
    }

    /*pagination link styles*/

    .digg_pagination 
    {
      background: white;
      cursor: default;
      
    }
    .digg_pagination a, .digg_pagination span, .digg_pagination em 
    {
      padding: 0.2em 0.5em;
      display: inline-block;
      margin-right: 1px; 
    }

    .digg_pagination .disabled 
    {
      color: #999999;
      border: 1px solid #dddddd; 
    }
    .digg_pagination .current 
    {
      font-style: normal;
      font-weight: bold;
      background: #2e6ab1;
      color: white;
      border: 1px solid #2e6ab1; 
    }
    .digg_pagination a 
    {
      text-decoration: none;
      color: #105cb6;
      border: 1px solid #9aafe5; 
    }
    .digg_pagination a:hover, .digg_pagination a:focus 
    {
      color: #000033;
      border-color: #000033; 
    }
    .digg_pagination .page_info 
    {
      background: #2e6ab1;
      color: white;
      padding: 0.4em 0.6em;
      width: 22em;
      margin-bottom: 0.3em;
      text-align: center; 
    }
    .digg_pagination .page_info b 
    {
      color: #000033;
      background: #6aa6ed;
      padding: 0.1em 0.25em; 
    }
    .digg_pagination:after 
    {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden; 
    }
    * html .digg_pagination 
    {
      height: 1%; 
    }
    *:first-child + html .digg_pagination 
    {
      overflow: hidden; 
    }


    /* Icon Sink Away */
    @-webkit-keyframes hvr-icon-sink-away {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
      }
    }

    @keyframes hvr-icon-sink-away {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        -webkit-transform: translateY(1em);
        transform: translateY(1em);
      }
    }

    /* Icon Sink Away */
    .hvr-icon-sink-away {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      padding-right: 2.2em;
    }
    .hvr-icon-sink-away:before, .hvr-icon-sink-away:after {
      content: "\f056";
      position: absolute;
      right: 1em;
      padding: 0 1px;
      font-family: FontAwesome;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
    }
    .hvr-icon-sink-away:after {
      opacity: 0;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .hvr-icon-sink-away:hover:after, .hvr-icon-sink-away:focus:after, .hvr-icon-sink-away:active:after {
      -webkit-animation-name: hvr-icon-sink-away;
      animation-name: hvr-icon-sink-away;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }

    /* Icon Float Away */
    @-webkit-keyframes hvr-icon-float-away {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
      }
    }

    @keyframes hvr-icon-float-away {
      0% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        -webkit-transform: translateY(-1em);
        transform: translateY(-1em);
      }
    }

    /* Icon Float Away in reports index*/
    .hvr-icon-float-away {
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      padding-right: 2.2em;
    }
    .hvr-icon-float-away:before, .hvr-icon-float-away:after {
      content: "\f055";
      position: absolute;
      right: 1em;
      padding: 0 1px;
      font-family: FontAwesome;
    }
    .hvr-icon-float-away:after {
      opacity: 0;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
    }
    .hvr-icon-float-away:hover:after, .hvr-icon-float-away:focus:after, .hvr-icon-float-away:active:after {
      -webkit-animation-name: hvr-icon-float-away;
      animation-name: hvr-icon-float-away;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }


    /* Bounce To Top */
    .hvr-bounce-to-top {
     padding:10px;
     display: inline-block;
     vertical-align: middle;
     -webkit-transform: translateZ(0);
     transform: translateZ(0);
     box-shadow: 0 0 1px rgba(0, 0, 0, 0);
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -moz-osx-font-smoothing: grayscale;
     position: relative;
     -webkit-transition-property: color;
     transition-property: color;
     -webkit-transition-duration: 0.5s;
     transition-duration: 0.5s;
   }
   .hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098d1;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
  }
  .hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  }


  /*icon for links*/
  /*icon-foward*/
  .hvr-icon-forward {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-right: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-forward:before {
    content: "\f138";
    position: absolute;
    right: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-forward:hover:before, .hvr-icon-forward:focus:before, .hvr-icon-forward:active:before {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  /* Icon Back */
  .hvr-icon-back {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    padding-left: 2.2em;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
  }
  .hvr-icon-back:before {
    content: "\f137";
    position: absolute;
    left: 1em;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
    -webkit-transform: translateX(-4px);
    transform: translateX(-4px);
  }


  /* Shutter In Vertical */

  .hvr-shutter-in-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: red;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-in-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e1e1e1;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-in-vertical:hover, .hvr-shutter-in-vertical:focus, .hvr-shutter-in-vertical:active {
    color: white;
  }
  .hvr-shutter-in-vertical:hover:before, .hvr-shutter-in-vertical:focus:before, .hvr-shutter-in-vertical:active:before {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
  }

  /*-------------------------------------------------------------------------------------*/

  /* error styles*/

  .isa_info, .isa_success, .isa_warning, .isa_error {

    padding:0.5px;
  }

  .isa_error {
    color: #D8000C;
    

  }

  .isa_error p{
    width: 35%;
    text-align: left;
    display: block;

    padding:5px;
  }


  /*-----------------------------------------------------------------------------------------------*/



