/**************************************************
*
*	CONTAINER STYLES
*
**************************************************/

#horiz_container_outer
{
	float: left;
	width: 45%;
	overflow-x:scroll;
	overflow-y:scroll;
	position:relative;
	height: 420px;	
	border:1px solid #cccccc;
	margin-left: 1em;
}



#horiz_container
{
	width:2000px;
	margin:0px;
	padding:0px;
	height: 100%

}



