<!-- delete template for attendances -->
<ul class='backlink'>
<li><%=link_to "Back to Attendance Reports", attendances_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>

<div align="center">
	<h2>Delete Attendance</h2>
	<%= form_for(:attendance,:url => attendance_path(:id=>@attendance.id,:training_id=>@training.id),:method=>:delete) do |f| %>
	<p>Are you sure you want to permanently delete attendance record of <%= @attendance.trainee_name %> ?</p>
	<h1 class="fa fa-question-circle fa-4x"> </h1>
	<div>
		<%= button_tag("delete Attendance",:class=>"hvr-shutter-in-vertical") %>
		</div>
<ul class='backlink'>
<li><%=link_to "Back to Attendance Reports", attendances_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>
	<% end %>
