
<div align="center">
<%= error_messages_for(@attendance) %>
	<h2>Update Attendance</h2>

<%= form_for(:attendance,:url=>attendance_path(:training_id=>@training.id),:method=>:patch) do |f| %>
<table id="update">
<tr>
<th>Date </th>
<td><%= f.text_field(:date) %></td>
</tr>

<tr>
<th>Topic </th>
<td><%= f.text_field(:topic) %></td>
</tr>


<tr>
<th>Trainee Name </th>
<td><%= f.text_field(:trainee_name) %></td>
</tr>

<tr>
<th>No Of Sessions </th>
<td><%= f.text_field(:no_of_sessions) %></td>
</tr>

<tr>
<th>Present ? </th>
<!-- a drop down menu for presence with options of select,yes and no -->
<td><%=f.select :presence, options_for_select([["Select One", ""],["YES", "true"],["NO", "false"]]) %></td>
</tr>

<tr>
<th>Fecilitator</th>
<td><%= f.text_field(:facilitator,:readonly=>true )%></td>
</tr>

<tr><td colspan="2" align="center"><%= submit_tag("Update Assignment",:class=>"btn") %></td></tr>
</table>
<% end %>
    	<ul class='backlink'>
<li><%=link_to "Back to Attendance Reports", attendances_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
    	</div>