<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
       
        <Cell><Data ss:Type="String">Training id</Data></Cell>
        <Cell><Data ss:Type="String">topic</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Trainee name</Data></Cell>
        <Cell><Data ss:Type="String">Present</Data></Cell>
        <Cell><Data ss:Type="String">Number Of Sessions</Data></Cell>
        <Cell><Data ss:Type="String">Facilitator</Data></Cell>
      </Row>

    <%  @excelexport.each do |attendance| %>
    <%if @training.id == attendance.training_id%>
      <Row>
       
        <Cell><Data ss:Type="Number"><%= attendance.training_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendance.topic %></Data></Cell>
       <Cell><Data ss:Type="String"><%= attendance.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= attendance.trainee_name %></Data></Cell>
        <%if attendance.presence=="true" %>
         <Cell><Data ss:Type="String">Present</Data></Cell>
         <%else%>
          <Cell><Data ss:Type="String">Absent</Data></Cell>
          <%end%>
          <Cell><Data ss:Type="Number"><%= attendance.no_of_sessions %></Data></Cell>
          <Cell><Data ss:Type="String"><%= attendance.facilitator %></Data></Cell>
      </Row>
    <% end %>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
 