<div align="center">
    <h2>Attendance Reports</h2>


<!-- a link by clicking on which attendance report will be downloaded -->
    <ul class='Exel'>

<li>Download:<%= link_to "Export to spreadsheet", attendances_path(format: "xls",:training_id=>@training.id) %></li>
</ul>
    <!--  <%= stylesheet_link_tag('application',:media => 'all') %> -->

<!-- a text box with search button -->


    <%= form_tag attendances_path,:method=>:get do%>

    <p> <%=hidden_field_tag :training_id,params[:training_id]%>
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
        </p>
    <%end%>

    <table id="table">
        <tr class="header">
            <th>Date</th>
            <th>Topic</th>
            <th>trainee name</th>       
            <th>No Of Sessions</th>
            <th>Facilitator</th>
             <th>Status</th>
            <%if User.find(current_user.id).type=="Trainer"%>    
            <th>Actions</th>  
            <%end%>
        
          
             
            </tr>
            <tr>


         <% @attendances.each do |attend| %>
            <%if @training.id==attend.training_id%>

            <td><%=attend.date.strftime("%d-%b-%Y")%></td>
            <td><%=attend.topic%></td>
             <td><%= attend.trainee_name%></td>
             <td><%= attend.no_of_sessions %></td>
            <td><%= attend.facilitator %></td>
            <%if attend.presence=="true" %>
            <td>Present</td>
            <%else%>
            <td>Absent</td>
            <%end%>
           <%if User.find(current_user.id).type=="Trainer"%>
            <td class="actions">
               <%= link_to("",edit_attendance_path(:id=>attend.id,:training_id=>@training.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ") %>  
         
                <%= link_to("",delete_attendance_path(attend.id,:training_id=>@training.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x") %>  
                </td>
         
            <%end%>
            
            </tr>
                    <%end%>
                <%end%>
         
        
    </table>
   
  <%= will_paginate @attendances%>  


<%if User.find(current_user.id).type=="Trainer"%>
<ul><li><%=link_to("Add Entry",new_attendance_path(:training_id=>@training.id),:class=>"hvr-icon-float-away")%></li></ul>

<%end%>
<ul class='backlink'>
<li><%=link_to "Back to Reports", reports_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>


</div>



