


<div align="center">
<%= error_messages_for(@attendance) %>
	<h2>Create Attendance</h2>
<%= form_for(:attendance,:url=>attendances_path(:training_id=>@training.id),:method=>:post) do |f| %>
	
<table id="update">
<tr>
<th>Date</th>
<% date_format(@training)%>
<td><%=f.select :date, options_for_select(@list) %></td>
</tr>

<tr>
		<th>training ID</th>
		<td><%=f.text_field(:training_id,:readonly => true,:value=>@training.id)%></td>
	</tr>
<tr>
		<th>Topic</th>
		<td><%=f.text_field(:topic)%></td>
	</tr>
<tr>
<% trainee_list(@training)%>
<th>Trainee Name </th>
<td><%= f.select(:trainee_name,options_for_select( @traineelist.map {|t| [Employee.find(t.employee_id).name] } )) %></td>
</tr>

<tr>
<th>Present ? </th>
<td><%=f.select :presence, options_for_select([["Select One", 1],["YES", 'true'],["NO",'false']]) %></td>
</tr>

<tr>
<th>Number Of Sessions </th>
<td><%= f.text_field(:no_of_sessions) %></td>
</tr>

<tr>
<% facilitator %>
<th>Facilitator</th>
<td><%= f.text_field(:facilitator,:readonly => true,:value=>@user) %></td>
</tr>

<tr><td colspan="2" align="center"><%= submit_tag("create attendance",:class=>"btn") %></td></tr>
<% end %>
</table>
<ul class='backlink'>
<li><%=link_to "Back to Attendance Reports", attendances_path(:training_id=>@training.id),:class=>"hvr-icon-back"%></li>
</ul>
</div>
</div>