
<div align="center">
 <h2>Remove employee record</h2>

 <%= form_for(:empreport, :url => empreport_path(:id=>@empreport.id),:method=>:delete) do |f| %>

   <p>Are you sure you to delete employee report of <%= Employee.find(@empreport.employee_id).name %>?</p>
   <h1 class="fa fa-question-circle fa-4x"> </h1>
   <div>
     <%= button_tag("Remove Employee Record",:class=>'hvr-shutter-in-vertical') %>
     </div>

 <% end %>
 <ul class='backlink'>
<li><%=link_to "Back to Employee Reports", empreports_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>