

<div align="center">
<%= error_messages_for(@empreport) %>
	<h2>Update Employee Report</h2>

<%= form_for(:empreport,:url=>empreport_path,:method=>:patch) do |f| %>


<table id="update">



<tr>
<th>Employee ID</th>
<td><%= f.text_field(:employee_id) %></td>
</tr>

<tr>
<th>Certificate Name</th>
<td><%= f.text_field(:Certificate_Name) %></td>
</tr>

<tr>
<th>Certification code</th>
<td><%= f.text_field(:Certification_code) %></td>
</tr>

<tr>
<th>Team</th>
<td><%= f.text_field(:Team) %></td>
</tr>

<tr>
<th>Marks Scored</th>
<td><%= f.text_field(:Marks_Scored) %></td>
</tr>

<tr>
<th>Date of completion</th>
<td><%= f.text_field(:Date_of_completion) %></td>
</tr>

<tr>
<th>Amount</th>
<td><%= f.text_field(:Amount) %></td>
</tr>

<tr>
<th>Commitment Period</th>
<td><%= f.text_field(:Commitment_Period) %></td>
</tr>

<tr>
	<th>Status</th>
	<td><%= f.select :status, options_for_select([["Select One", ""],["Pending", 'pending'],["Completed",'completed']]) %></td>
</tr>

<tr>

<td colspan="2" align="center"><%= submit_tag("Update Employee Record", :class=>"btn") %></td>
</tr>
</table>
<% end %>

  <ul class='backlink'>
<li><%=link_to "Back to Employee Reports", empreports_path,:class=>"hvr-icon-back"%></li>
</ul>

</div>
    	

