<!-- a text box with a search button -->

<div align="center">
<h2>Employee Certification Reports</h2>

<ul class='Exel'>
<li>Download:<%= link_to "Export to spreadsheet", empreports_path(format: "xls") %></li><br><br>
</ul>
   <%= form_tag empreports_path,:method=>:get do%>

    <p> 
        <%=text_field_tag :search, params[:search]%>
        <%=submit_tag "Search", :name=>nil%>
    </p>
    <%end%>
    <table id="table">
        <tr class="header">
            
            <th>Employee name</th>
            <th>Certificate name</th>
            <th>Certification code</th>
            <th>Team</th>
            <th>Total marks</th>
            <th>Marks scored</th>
            <th>Date of completion</th>
            <%if User.find(current_user.id).role=="Admin"%>
            <th>Amount</th>
            <th>Commitment period(years)</th>
            <th>Status</th>
            <th>Actions</th>
            <% end %>
        </tr>

       <%if User.find(current_user.id).role=="Admin"%>

       <% @empreports.each do |emprep| %>
  

             <tr>
            <td><%= emprep.employee_name %></td>
            <td><%= emprep.Certificate_Name %></td>
            <td><%= emprep.Certification_code %></td>
            <td><%= emprep.Team %></td>
            <td><%= emprep.total_marks %></td>
            <td><%= emprep.Marks_Scored %></td>
            <td><%= emprep.Date_of_completion.strftime("%d-%b-%Y") %></td>
            <td><%= emprep.Amount %></td>
            <td><%= emprep.Commitment_Period %></td>
            <td><%= emprep.status %></td>


        
            <td class="actions">
                
                <%if User.find(current_user.id).role=="Admin"%>
                <%= link_to("",edit_empreport_path(:id=>emprep.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_empreport_path(:id=>emprep.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>
               <% end %>
            </td>
        </tr>

        <% end %>
    <%end%>

    <%if User.find(current_user.id).role=="Director" || User.find(current_user.id).role=="Manager" || User.find(current_user.id).role=="Lob"%>

     <% @empreports.each do |emprep| %>
    
         <%@Emp.each do |record|%>

              <%if emprep.employee_id==record.employee_id%>
      

             <tr>
            <td><%= emprep.employee_name %></td>
            <td><%= emprep.Certificate_Name %></td>
            <td><%= emprep.Certification_code %></td>
            <td><%= emprep.Team %></td>
            <td><%= emprep.total_marks %></td>
            <td><%= emprep.Marks_Scored %></td>
            <td><%= emprep.Date_of_completion %></td>
           



        
            <td class="actions">
                
                <%if User.find(current_user.id).role=="Admin"%>
                <%= link_to("",edit_empreport_path(:id=>emprep.id),:title=>"Edit",:class=>"fa fa-pencil-square-o fa-2x ")%>
                <%= link_to("",delete_empreport_path(:id=>emprep.id),:title=>"Delete",:class=>"fa fa-trash-o fa-2x")%>
               <% end %>
            </td>
        </tr>
    <% end %>
<%end%>         
    <% end %>
<%end%>

    </table>
      <%if User.find(current_user.id).role=="Admin"%>
      <%=link_to("Add employee report",new_empreport_path,:class=>"hvr-icon-float-away") %>
        <%end%>

<%= will_paginate @empreports%>
</div>

 




