<table >
        <tr>
            
            <th>Employee Name</th>
            <th>Certificate Name</th>
            <th>Certification code</th>
            <th>Team</th>
            <th>Marks Scored</th>
            <th>Date of completion</th>
            <th>Amount</th>
            <th>Commitment Period(years)</th>
            <th>Status</th>
        </tr>
        
        <% @excelexport.each do |emprep| %>
        <tr align="center">
            <td ><%= emprep.employee_name %></td>
            <td><%= emprep.Certificate_Name %></td>
            <td><%= emprep.Certification_code %></td>
            <td><%= emprep.Team %></td>
            <td><%= emprep.Marks_Scored %></td>
            <td><%= emprep.Date_of_completion %></td>
            <td><%= emprep.Amount %></td>
            <td><%= emprep.Commitment_Period %></td>
            <%if emprep.status=="completed" %>
                <td>Completed<td>
            <%else%>
                <td>Pending</td>
            <%end%>
        </tr>
        <% end %>
    </table>