<%= javascript_include_tag('search') %>
<div align="center">
	<%= error_messages_for(@empreport) %>
	<h2>Create Employee Record</h2>
	<div id="new_employee_dialog">
    <input type="text" placeholder="Search" id="emp" >   
    
    <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="button" id="accept" role="button">
      <span class="ui-button-text">ADD</span>
    </button>  
    
  </div>
<%= form_for(:empreport,:url=>empreports_path,:method=>'post') do |f| %>
<table id="update" >


<tr>
<th>Employee ID</th>
<td><%= f.text_field(:employee_id)%></td>
</tr>

<tr>
<th>Certificate Name </th>
<td><%= f.text_field(:Certificate_Name) %></td>
</tr>


<tr>
<th>Certification code </th>
<td><%= f.text_field(:Certification_code) %></td>
</tr>

<tr>
<th>Team</th>
<td><%= f.text_field(:Team) %></td>
</tr>

<tr>
<th>Total Marks</th>
<td><%= f.text_field(:total_marks) %></td>
</tr>

<tr>
<th>Marks Scored</th>
<td><%= f.text_field(:Marks_Scored) %></td>
</tr>

<tr>
<th>Date of completion</th>
<td><%= f.date_field(:Date_of_completion) %></td>
</tr>

<tr>
<th>Amount</th>
<td><%= f.text_field(:Amount) %></td>
</tr>

<tr>
<th>Commitment Period(years)</th>
<td><%= f.text_field(:Commitment_Period) %></td>
</tr>

<tr>
	<th>Status</th>
	<td><%= f.select :status, options_for_select([["Select One", ""],["Pending", 'pending'],["Completed",'completed']]) %></td>
</tr>

<tr>
<td><%=button_tag("Search by name",:id=>"check")%> </td>
<td><%= submit_tag("create employee record",:class=>"btn") %></td>
</tr>
<% end %>
</table>
 <ul class='backlink'>
<li><%=link_to "Back to Employee Reports", empreports_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>
