<ul class='backlink'>
<li><%=link_to "Back to Reports", reports_path,:class=>"hvr-icon-back"%></li>
</ul>
</div>

<div align="center">
	<h2>Employee Report</h2>
	<table id="update" align="center">
	

		<tr>
			<th>Employee Name</th>
			<td><%= @empreport.Employee_Name %></td>
		</tr>

        <tr>
			<th>Certificate Name</th>
			<td><%= @empreport.Certificate_Name %></td>
		</tr>

		<tr>
			<th>Certification code</th>
			<td><%= @empreport.Certification_code%></td>
		</tr>

	    <tr>
			<th>Team</th>
			<td><%= @empreport.Team%></td>
		</tr>

		<tr>
			<th>Marks Scored</th>
			<td><%= @empreport.Marks_Scored%></td>
		</tr>


		<tr>
			<th>Date of completion</th>
			<td><%= @empreport.Date_of_completion%></td>
		</tr>

		<tr>
			<th>Amount</th>
			<td><%= @empreport.Amount%></td>
		</tr>

		<tr>
			<th>Commitment (years)</th>
			<td><%= @empreport.Commitment_Period%></td>
		</tr>


	
	
	</table>
</div>













