<header>
  <div class='row'>
    <div class='columns medium-6 large-8'>
      <%= image_tag("sigma.png", :alt => "sigma",:id=>"logo") %>
    </div>
    <div class='columns medium-6 large-4'>
      <h1 class="text-right" id="sitename">L&D
      <small>Portal</small>  
      </h1>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-10 large-12'>
    <% if user_signed_in? %>
      <button type="button" class="float-left button tiny secondary hollow" data-toggle="offCanvas">Open Menu</button>
      <%= link_to("Logout",destroy_user_session_path,class:'button tiny hollow secondary float-right') %>
    <%end%>
    </div>
    </div>
</header>