<div class="off-canvas position-left" id="offCanvas" data-off-canvas>
  <% links = get_navigation_tree %>
    
  <ul class="vertical accordion-menu menu" data-accordion-menu data-multi-open=false>
    <li>
      <a href="#"> <h4><span>Hi, <%=current_user.username%> </span></h4></a>
    </li>
    <% links.each_with_index do |link,index| %>
      <li>
        <%if link[4] == 0 %>
          <a href="<%=link[2]%>"><i class="fa fa-lg <%=link[3]%>" aria-hidden="true"></i> <%=link[1]%></a>
        <%end%>
        <%links.each do |sublink| %>
          <%if sublink[4] == link[0] %>
          <ul class="menu vertical sublevel-<%=index+2%>">
            <li>
              <a href="<%=sublink[2]%>"><i class="fa <%=sublink[3]%>" aria-hidden="true"></i> <%=sublink[1]%></a>
            </li>
          </ul>
          <%end%>
        <%end%>
      </li>  
    <%end%>
  </ul>
</div>
    
<div class="off-canvas-content content" data-off-canvas-content>
  <%= render(partial:'layouts/header') %> 
  <%= yield %>
</div>