<!DOCTYPE html>
<html >
<head>
  <%= Gon::Base.render_data %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body >

  <%if user_signed_in?%>
    <div class="off-canvas-wrapper">  
      <%= render(partial: 'layouts/offcanvas_menu') %>
    </div>
  <%else%>
    <div class="content">
    <%= render(partial: 'layouts/header') %>
      <%= yield %>
    </div>
  <%end%>

</body>
</html>